/*accordian_area_r
==========================================================*/
.accordian_area_r{
    padding: 90px 0px 110px;
}
.accordian_tab{
    .tab_menu{
        border: 0px;
        li{
            margin-bottom: 0px;
            margin: 0px 12px;
            a{
                font: 400 11px/52px $mon;
                color: #141414;
                padding: 0px;
                border: 0px;
                border-radius: 0px;
                position: relative;
                text-transform: uppercase;
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    width: 100%;
                    height: 2px;
                    background: #00aac9;
                    opacity: 0;
                    transition: all 0.2s linear;
                }
                &:hover,&:focus{
                    background: transparent;
                    border: 0px;
                    &:before{
                        opacity: 1;
                        
                    }
                }
            }
            &.active{
                a{
                    &:before{
                        opacity: 1;
                    }
                    &:hover,&:focus{
                        border: 0px;
                    }
                }
            }
        }
    }
    .tab-content{
        .tab-pane{
            padding: 30px 22px;
            border: 1px solid #e5e5e5;
            .tab_img{
                width: calc(94% / 3);
                float: left;
                img{
                    max-width: 100%;
                }
                & + .tab_img{
                    margin-left: 3%;
                }
            }
            p{
                padding: 20px 0px 5px;
                font: 400 14px/30px $lato;
                color: #6f6f6f;
                letter-spacing: 0.56px;
            }
        }
    }
}

.accordian_collapse{
    padding-top: 8px;
    .panel-group{
        margin-bottom: 0px;
        .panel{
            border: 0px;
            border-radius: 0px;
            box-shadow: none;
            .panel-heading{
                padding: 0px;
                background: transparent;
                box-shadow: none;
                overflow: hidden;
                border-radius: 0px;
                a{
                    font: 400 11px/18px $mon;
                    color: #141414;
                    letter-spacing: 1.1px;
                    width: 100%;
                    display: block;
                    float: left;
                    border: 1px solid #00aac9;
                    border-bottom-color: transparent;
                    padding: 12px 20px;
                    position: relative;
                    &.collapsed{
                        border-color:#e5e5e5;
                        i{
                           opacity: 1;  
                        }
                        
                    }
                }
                i{
                    font-size: 12px;
                    color: #141414;
                    float: right;
                    width: 13%;
                    display: inline-block;
                    text-align: center;
                    line-height: 44px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    opacity: 0;
                    & + i{
                        opacity: 1;
                    }
                }
            }
            .panel-body{
                border: 1px solid;
                border-top: 0px;
                border-color: #00aac9;
                color: #6f6f6f;
                line-height: 30px;
                padding: 0px 45px 40px 20px;
            }
            & + .panel{
                margin-top: 20px;
            }
        }
    }
}


.progress-content{
    h4{
        display: inline-block;
        font: 400 11px/25px $mon;
        color: #6f6f6f;
        text-transform: uppercase;
        &:before{
            display: inline-block;
            width: 0;
            height: 0;
            margin-right: 15px;
            vertical-align: middle;
            content: "";
            border-left: .4em solid;
            border-top: .4em solid transparent;
            border-bottom: .4em solid transparent;
        }
    }
    h6{
        display: inline-block;
        float: right;
        font: 400 12px/25px $mon;
        color: #141414;
    }
    .progress{
        background: #efefef;
        box-shadow: none;
        border-radius: 0px;
        height: 30px;
        margin: 10px 0px 14px;
        .progress-bar{
            background: #00aac9;
            box-shadow: none;
        }
    }
}


/*promo_area_r css
=============================================================*/
.promo_area_r{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    img{
        width: 100%;
//        transition: opacity .65s,transform 1s;
//        -webkit-transform: translate3d(-30px,0,0);
//        transform: translate3d(-30px,0,0);
    }
    .promo_content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        h2{
            font:900 40px $hee;
        }
        p{
            font: 500 17px/25px $mon;
            letter-spacing: -0.20px;
            padding-bottom: 5px;
        }
        a{
            font: 400 14px/18px $crim;
            letter-spacing: 0.20px;
            color: #fff;
            font-style: italic;
            display: inline-block;
            padding-top: 14px;
        }
    }
    &:hover{
        img{
//            transform: translate3d(0,0,0);
        }
    }
}
/*digital_promo css
====================================================*/
.digital_promo{
    text-align: center;
    overflow: hidden;
    padding-bottom: 95px;
    .creative_agency_btn{
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        border-radius: 22px;
        background: #3dc3ff;
        padding: 0px 36px;
        line-height: 50px;
        margin-top: 60px;
        &:hover{
            background: #464646;
        }
    }
    .promo_content p,a{
        opacity: 0.75;
    }
}

/*partner_logo_area  
========================================*/
.partner_logo_area{
    padding: 80px 0px;
    .p_logo_slider{
        text-align: center;
        img{
            width: auto;
            display: inline-block;
        }
    }
}


/*clients_logo_area css
========================================================================*/
.clients_logo_area{
    padding: 80px 0px;
    .cl_logo_slider{
        .item{
            text-align: center;
            border: 1px solid #f3f3f3;
            padding: 37px 0px;
            transition: all 0.4s linear;
            cursor: pointer;
            img{
                width: auto;
                display: inline-block
            }
            &:hover{
                border-color: #f3cb35;
            }
        }
    }
}



/* Start faq_area
============================================================================================*/
.faq_area{
    padding: 145px 0px 100px;
}
.faq-inner{
    .faq-tab{
        border: 0px;
        margin: 0px -5px 40px;
        li{
            margin: 0px 5px 5px;
            a{
                font: 900 12px/50px $lato;
                letter-spacing: 1.2px;
                color: #4e4e4e;
                text-transform: uppercase;
                border: 0px;
                background: #eeeeee;
                display: inline-block;
                padding: 0px 22px;
                border-radius: 22px;
                margin: 0px;
                transition: all 0.2s linear;
            }
            &.active,&:hover{
                a{
                    border: 0px;
                    background: #00b0ff;
                    color: #fff;
                }
            }
        }
    }
    .cr_accordian{
        margin-bottom: 0px;
        .panel{
            .panel-heading h4 a{
                background: #00b0ff;
                &.collapsed{
                    background: #a0abb1;
                }
            }
            .panel-body{
                padding: 30px 22px 25px;
                .accordian-content{
                    .accordian-img{
                        padding-right: 15px;
                    }
                    .text{
                        vertical-align: middle;
                    }
                }
            }
        }
    }  
}

/* End faq_area
============================================================================================*/