/* Read Button Area css
============================================================================================ */
.read_btn{
    margin: auto;
    background: #8799a3;
    display: inline-block;
    line-height: 42px;
    color: #fff;
    font-size: 12px;
    font-family: $lato;
    font-weight: 900;
    letter-spacing: .72px;
    text-transform: uppercase;
    padding: 0px 33px;
    border-radius: 21px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include transition;
    &:hover{
        color: #fff;
        background: $baseColor;
    }
}
.read_btn2{
    margin: auto;
    background: $baseColor;
    display: inline-block;
    line-height: 60px;
    color: #fff;
    font-size: 12px;
    font-family: $lato;
    font-weight: 900;
    letter-spacing: .72px;
    text-transform: uppercase;
    padding: 0px 48px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include transition;
    &:hover{
        color: #fff;
        background: #8799a3;
    }
}

.read_m_btn{
    margin: auto;
    background: #eeb013;
    display: inline-block;
    line-height: 42px;
    color: #1e1e1e;
    font-size: 12px;
    font-family: $lato;
    font-weight: 900;
    letter-spacing: .72px;
    text-transform: uppercase;
    padding: 0px 33px;
    border-radius: 21px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include transition;
    &:hover{
        color: #fff;
        background: $baseColor;
    }
}
/* End Read Button Area css
============================================================================================ */

/* Purchase Button Area css
============================================================================================ */
.p_btn{
    margin: auto;
    background: transparent;
    display: inline-block;
    line-height: 60px;
    border: 1px solid #fefb30;
    color: #252525;
    font-size: 14px;
    font-family: $mon;
    font-weight: bold;
    font-weight: 900;
    letter-spacing: .72px;
    text-transform: uppercase;
    padding: 0px 45px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fefb30;
    @include transition;
    outline: none !important;
    box-shadow: none !important;
    &:hover{
        color: #fefb30;
        background: transparent;
    }
}

.submit_btn{
    width: 150px;
    margin: auto;
    background: #dfa617;
    display: inline-block;
    line-height: 48px;
    height: 48px;
    color: #000000;
    font-size: 15px;
    font-family: $mon;
    font-weight: bold;
    text-shadow: none;
    font-weight: 900;
    letter-spacing: .45px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 0px 45px;
    border-radius: 30px;
    position: relative;
    @include transition;
    z-index: 2;
    overflow: hidden;
    &:hover{
        color: #fff;
        text-shadow: none;
        background: $baseColor;
    }
}
.blue_submite_btn{
    width: 132px;
    margin: auto;
    background: $baseColor;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    font-family: $mon;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 0px 45px;
    border-radius: 30px;
    position: relative;
    background: $baseColor;
    @include transition;
    z-index: 2;
    overflow: hidden;
    &:hover{
        color: #fff;
        text-shadow: none;
        background: #dfa617; 
    }
}
.send_submit_btn{
    width: 160px;
    margin: auto;
    background: $baseColor;
    display: inline-block;
    line-height: 60px;
    height: 60px;
    color: #fff;
    font-size: 14px;
    font-family: $mon;
    font-weight: bold;
    text-shadow: none;
    font-weight: 900;
    letter-spacing: .45px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 0px 45px;
    border-radius: 30px;
    position: relative;
    background: #dfa617;
    text-transform: uppercase;
    @include transition;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    &:hover{
        color: #fff;
        text-shadow: none;
        background: $baseColor;
    }
}


.view_btn{
    text-align: center;
    font: 700 17px/24px $mon;
    color: #fff;
    letter-spacing: 0.50px;
    background: #00abc9;
    display: inline-block;
    width: 100%;
    border-radius: 0px;
    padding: 37px 0px;
    box-shadow: none;
    transition: all 0.4s linear;
    i{
        padding-left: 15px;
        transition: all 0.4s linear;
    }
    &:hover{
        color: #fff;
        i{
            padding-left: 25px;
        }
    }
}

.buy_btn{
    padding: 0px 30px;
    display: inline-block;
    font: 700 11px/42px $mon;
    color: #fff;
    text-transform: uppercase;
    background: #151617;
    letter-spacing: 0.80px;
    border-radius: 22px;
    border: 0px;
    transition: all 0.4s linear;
    z-index: 20;
    position: relative;
    &:hover{
        background: #fde42a;
        color: #141414;
    }
}


.creative_btn{
    background-image: linear-gradient(to left, #ff4337 0%, #ff4337 50%, #ffa723 100%);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.29);
    background-size: 200% auto;
    transition: all 0.6s linear;
    display: inline-block;
    line-height: 42px;
    color: #fff;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: .72px;
    text-transform: uppercase;
    padding: 0px 33px;
    border-radius: 21px;
    margin-top: 26px;
    &:before{
        display: none;
    }
    &:hover,&:focus{
        background-position: center right;
        color: #fff;
        outline: none;
    }
}

/* End Purchase Button Area css
============================================================================================ */

/*corporate_btn 
=========================================*/
.corporate_btn{
    background: #343434;
    border: 0px;
    box-shadow: none;
    font: 400 13px/46px $mon;
    color: #fff;
    border-radius: 40px;
    padding: 0px 28px;
    transition: all 0.3s linear;
    &:hover,&:focus{
        color: #343434;
        background: #fde428;
    }
}

/*creative agency button css
=========================================================*/
.creative_agency_btn{
    font-size: 11px;
    font-family: $mon;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 0px 25px;
    background: #464646;
    &:hover{
        background: #00abc9;
        color: #fff;
    }
}

/* Gym Service Button Area css
============================================================================================ */
.more_d_btn{
    display: inline-block;
    background: #db3333;
    line-height: 34px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    font-family: $mon;
    font-weight: 600;
    border-radius: 3px;
    padding: 0px 16.5px;
    @include transition;
    letter-spacing: .44px;
    &:hover{
        background: $baseColor;
        color: #fff;
    }    
}
/* End Gym Service Button Area css
============================================================================================ */

/* Seo Page Button Area css
============================================================================================ */
.seo_btn_g{
    padding: 0px 28px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #27ae61;
    line-height: 55px;
    text-transform: uppercase;
    font-family: $mon;
    font-size: 15px;
    border-radius: 27.5px;
    @include transition;
    &:hover{
        background: #2f2c2c;
        color: #fff;
    }
}
.seo_btn_b{
    padding: 0px 28px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background: #2f2c2c;
    line-height: 55px;
    text-transform: uppercase;
    font-family: $mon;
    font-size: 15px;
    border-radius: 27.5px;
    @include transition;
    &:hover{
        background: #27ae61;
        color: #fff;
    }
}
/* End Seo Page Button Area css
============================================================================================ */

.portfolio_btn{
    font-family: $mon;
    background: #f42267;
    padding: 16px 50px;
    font-weight: 600;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    &:before{
        content: "";
        position: absolute;
        display: block;
        z-index: 0;
        width: 0px;
        height: 0px;
        left: 50%;
        top: 50%;
        right: 0;
        margin-top: 30px;
        background: #d51d5a;
        border-radius: 100%;
        transform: translate(-50%,-50%);
        z-index: -1;
    }
    &:hover{
        color: #fff;
        &:before{
            width: 110%;
            padding-top: 110%;
            margin-top: 0;
            -webkit-transition: all .4s linear;
            -moz-transition: all .4s linear;
            -ms-transition: all .4s linear;
            transition: all .4s linear;
        }
    }
}

.submit_green_btn{
    padding: 0px;
    line-height: 50px;
    height: 50px;
    border-radius: 25px;
    background: #27ae61;
    color: #fff;
    text-transform: uppercase;
    outline: none !important;
    box-shadow: none !important;
    font-size: 12px;
    letter-spacing: .36px;
    @include transition;
    &:hover{
        background: #fff;
        color: $dip;
    }
}

/*charity-btn css
===========================================================*/
.charity-btn{
    font: 700 13px/24px $lato;
    padding: 13px 33px;
    color: #fff;
    background: #ec1c33;
    border-radius: 40px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:before{
        background: #e90922;
        content: "";
        position: absolute;
        display: block;
        z-index: 0;
        width: 0px;
        height: 0px;
        left: 50%;
        top: 50%;
        right: 0;
        margin-top: 30px;
        border-radius: 100%;
        transform: translate(-50%,-50%);
        z-index: -1;
    }
    &:hover{
        color: #fff;
        &:before{
            width: 110%;
            padding-top: 110%;
            margin-top: 0;
            -webkit-transition: all .4s linear;
            -moz-transition: all .4s linear;
            -ms-transition: all .4s linear;
            transition: all .4s linear;
        }
    }
}

/*product btn css
===================================================*/
.show_btn{
    font: 400 12px/28px $lato;
    color: #fff;
    padding: 0px 15px;
    border-radius: 22px;
    background: #2896df;
    display: inline-block;
    margin-left: 32px;
    margin-top: 12px;
    transition: all 0.4s linear;
    &:hover{
        background: #f4b900;
        color: #fff;
    }
}