/* Clients Count Area css
============================================================================================ */
.clients_count_area{
    background: url(../img/clients-count-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 3;
    padding: 85px 0px;
    &:before{
        content: "";
        background: rgba(0, 0, 0, .8);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
}
.clients_count_inner{
    .media{
        .media-left{
            padding-right: 30px;
        }
        .media-body{
            vertical-align: middle;
            h4{
                color: $baseColor;
                font-size: 50px;
                font-weight: bold;
            }
            h5{
                font-size: 20px;
                color: #fff;
                font-family: $camb;
                padding-top: 7px;
            }
        }
    }
}
/* End Clients Count Area css
============================================================================================ */

/*corporate_clients_loge_area css
======================================================================*/
.corporate_clients_loge_area{
    padding: 120px 0px 110px;
}
.corporate_clients_logo{
    .item{
        text-align: center;
        padding: 20px 5px;
        transition: all 0.4s linear;
        margin: 12px;
        cursor: pointer;
        img{
            width: auto;
            max-width: 100%;
            display: inline-block;
        }
        i{
            display: block;
            font-size: 15px;
            color: #020202;
            padding-top: 28px;
            opacity: 0;
            transition: all 0.4s linear;
        }
        &:hover{
            background-color: rgb(251, 251, 251);
            box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);
            i{
                opacity: 1;
            }
        }
    }
}

/* Gym Counter Area css
============================================================================================ */
.gym_count_area{
    padding: 100px 0px;
}
.gym_count_item{
    text-align: center;
    h3{
        font-size: 44px;
        color: #da3038;
        font-family: $mon;
        font-weight: bold;
    }
    h5{
        font-size: 20px;
        color: #2e2e2e;
        font-family: $mon;
        font-weight: bold;
        padding: 13px 0px 8px 0px;
    }
    p{
        font-size: 12px;
        color: #949494;
        font-family: $mon;
        letter-spacing: 1.08px;
    }
}
/* End Gym Counter Area css
============================================================================================ */

/*clients-logo-area css
===========================================*/

.clients-logo-area{
    padding-bottom: 77px;
    overflow: hidden;
    .main-title-four{
        margin-bottom: 60px;
    }
    .logo-item{
        display: inline-block;
        padding: 11px 52px;
        background: #fcfbfb;
        margin-bottom: 30px;
        text-align: center;
        img{
            max-width: 100%;
        }
    }
    .bottom-logo{
        padding: 0px 155px;
    }
}


.cr-footer{
    .f_social{
        padding-right: 50px;
    }
}

/* End Gym Counter Area css
============================================================================================ */
.clients_about_area{
    .recent_p_title{
        padding-bottom: 165px;
    }
    .clients_about_area_inner{
        background: url(../img/clients-about-bg.jpg) no-repeat scroll center center;
        background-size: cover;
        padding-bottom: 110px;
    }
}
.clients_ab_slider_inner{
    max-width: 870px;
    margin: auto;
    background: #362f2d;
    border-radius: 20px;
    margin-top: -88px;
    position: relative;
    &:before{
        content: "";
        background: url(../img/icon/quto-icon.png) no-repeat scroll center center;
        height:112px;
        width: 119px;
        position: absolute;
        left: -52px;
        top: -52px;
    }
    .clients_ab_slider{
        .item{
            padding: 70px 100px 45px 120px;
            p{
                font-size: 24px;
                line-height: 30px;
                color: #fff;
                font-family: $mon;
            }
            h4{
                font-size: 18px;
                color: #fcd846;
                font-family: $mon;
                padding: 22px 0px 10px 0px;
            }
            h5{
                font-size: 14px;
                color: #797676;
                font-family: $mon;
                padding-left: 85px;
            }
        }
        .owl-dots{
            position: absolute;
            left: 50%;
            bottom: -65px;
            transform: translateX(-50%);
            .owl-dot{
                height: 18px;
                width: 18px;
                background: #362f2d;
                border: 2px solid #fcb03b;
                display: inline-block;
                border-radius: 50%;
                margin-right: 8px;
                &.active{
                    border-color: #fff;
                    background: transparent;
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}
/* End Gym Counter Area css
============================================================================================ */

/* Seo Clients Area css
============================================================================================ */
.seo_clients_area{
    padding: 110px 0px 110px 0px;
}
.seo_clients_inner{
    .seo_clients_item{
        text-align: center;
        img{
            
        }
        h3{
            font-size: 40px;
            color: #362f2d;
            font-family: $mon;
            font-weight: bold;
            padding: 28px 0px 7px 0px;
        }
        h4{
            font-size: 20px;
            color: #362f2d;
            font-family: $mon;
            font-weight: 300;
        }
    }
}
/* End Seo Clients Area css
============================================================================================ */

/* Box Client Slider Area css
============================================================================================ */
.box_client_slider_area{
    padding: 100px 0px;
}
.box_c_slider{
    .item{
        text-align: center;
        line-height: 112px;
        border: 1px solid #f3f3f3;
        @include transition;
        img{
            width: auto;
            display: inline-block;
            line-height: 112px;
        }
        &:hover{
            border-color: #fecb16;
        }
    }
}

/* End Box Client Slider Area css
============================================================================================ */

/*charity-partner-area css
======================================================================*/
.charity-partner-area{
    padding: 65px 0px 100px;
}
.ch-partner-logo{
    border-bottom: 1px solid #efefef;
    padding-bottom: 50px;
    .ch-partner-item{
        width: calc(100% / 5);
        float: left;
        text-align: center;
        margin: 35px 0px; 
        img{
            max-width: 100%;
            opacity: 0.25;
            transition: all 0.4s linear;
        }
        &:hover{
            img{
                opacity: 1;
            }
        }
    }
}
.charity-add{
    padding-top: 70px;
    .add-content{
        text-align: center;
        background: #a4cc45;
        height: 100%;
        color: #fff;
        padding: 60px 30px 30px;
        transition: all 0.3s linear;
        h2{
            font: 600 30px/50px $mon;
            letter-spacing: -0.9px;
        }
        p{
            font: 700 16px/24px $lato;
            letter-spacing: 0.32px;
            padding-bottom: 26px;
        }
        a{
            font-size: 18px;
            line-height: 24px;
            display: inline-block;
            color: #fff;
            transition: all 0.3s linear;
            &:hover{
                color: #ec1c33;
            }
        }
        &.add-item2{
            background: #ffd52d;
            &:hover{
                background: #efc105;
            }
        }
        &.add-item3{
            background: #ff6000;
            &:hover{
                background: #e45a06;
            }
        }
        &:hover{
            background: #91b932;
        }
    }
}