/*Start Coming Soon slider css fade effect
====================================================================*/
.bs-slider{
    overflow: hidden;
    position: absolute;
    background: #000000;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #141414;
    opacity: 0.82;
}
.bs-slider > .carousel-inner > .item{
    height: 100vh;
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
    height: 100%;
}

/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 0;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}


.coming_soon_area{
    padding: 22px 22px 0px;
    background: #1b1b1b;
    .com_footer_bottom{
        .f_social{
            margin-top: 0px;
        }
    }
}
.coming_soon{
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background: #141414;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/coming-soon/comming-soon-bg.jpg") no-repeat scroll center 0/cover;
        position: absolute;
        z-index: -1;
        opacity: 0.28;
    }
}
.coming_soon_contain{
    position: relative;
    z-index: 1;
}
.welcome-text-area {
    color: #ffffff;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
}
.coming_header{
    h2{
        font: 700 24px/24px $mon;
        text-transform: uppercase;
        padding: 38px 0px 20px;
    }
    p{
        font: 400 13px/24px $lato;
        letter-spacing: 0.39px;
    }
}
.coming_soon_counter{
    max-width: 1020px;
    margin: 100px auto 0px;
    overflow: hidden;
    .counter-item{
        width: calc(100% / 4);
        float: left;
        padding: 0px 40px;
        .timer{
            border: 2px solid rgba(255, 255, 255, 0.20);
            font-family: $mon;
            border-radius: 55px;
            padding: 14px 0px;
            span{
                font-weight: 700;
                font-size: 48px;
                line-height: 88px;
            }
            .smalltext{
                font-size: 16px;
                line-height: 60px;
                letter-spacing: 2.8px;
                text-transform: lowercase;
                position: relative;
                &:before{
                    content: '';
                    width: 30px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 0;
                    transform: translateX(-50%);
                    left: 50%;
                    display: block;
                }
            }
        }
    }
}

.c-search-form{
    max-width: 700px;
    margin: 80px auto 70px;
    overflow: hidden;
    .input-group{
        display: block;
        position: relative;
        .form-control{
            border: 0px;
            color: #fff;
            text-transform: capitalize;
            padding-left: 30px;
            font: 400 12px/60px $mon;
            letter-spacing: 2.4px;
            background: none;
            height: auto;
            padding: 0px 30px;
            background: rgba(255, 255, 255, 0.22);
            border-radius: 5px;
            width: 100%;
            box-shadow: none;
            @include placeholder{
                color: #fff;
                text-transform: uppercase;
            }
        }
        button{
            font: 400 12px/60px $mon;
            letter-spacing: 2.4px;
            padding: 0px 36px;
            border: 0px;
            border-left: 1px solid rgba(255, 255, 255, 0.20);
            color: #fff;
            background: transparent;
            transition: all 0.3s linear;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            right: 0;
            z-index: 2;
            &:hover,&:focus{
                background: #f6b138;
                color: #fff; 
                outline: none;
            }
        }
    }
}
.social{
    display: block;
    li{
        display: inline-block;
        margin: 0px 4px;
        a{
            width: 42px;
            height: 42px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: #b8b8b8;
            display: block;
            border-radius: 50%;
            transition: all 0.3s linear;
            &:hover{
                background: #f6b138;
                border-color: #f6b138;
                color: #fff;
            }
        }
    }
}