/* Start lp-portfolio-area css
==================================================================*/
.lp-portfolio-area{
    padding: 140px 0px;
}
.lp-portfolio-tab{
    margin-bottom: 70px;
    .portfolio_fillter{
        li{
            display: inline-block;
            margin-right: 7px;
            a{
                font: 700 12px/30px $lato;
                letter-spacing: 0.36px;
                color: #2f2933;
                background: #f4f4f4;
                padding: 5px 22px;
                border-radius: 22px;
                text-transform: uppercase;
                display: block;
                transition: all 0.4s linear;
            }
            &.active{
                a{
                    background: #2a2d2e;
                    color: #fff;
                }
            }
            &:hover{
                a{
                    background: #2896df;
                    color: #fff;
                }
            }
        }
    }
    .date-picker{
        margin-bottom: 0px;
        .date{
            background: #2a2d2e;
            padding: 3px 20px;
            border-radius: 22px;
            .form-control{
                font: 700 12px/30px $open;
                letter-spacing: 1.2px;
                padding: 0px;
                border:0px;
                box-shadow: none;
                color: #fff;
                text-transform: uppercase;
                background: transparent;
                border-radius: 0px;
                @include placeholder{
                    color: #fff;
                }
            }
            .input-group-addon{
                padding: 0px;
                background: transparent;
                border: 0px;
                border-radius: 0px;
                color: #fff;
            }
        }
    }
}
.lp-portfolio-gallery{
    .lp-portfolio-item{
        background: #f4f4f4;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 30px;
        .pr-img{
            display: block;
            img{
                max-width: 100%;
            }
        }
        .content{
            padding: 23px 30px;
            .portfolio-title{
                overflow: hidden;
                h2{
                    display: inline-block;
                    float: left;
                    font: 700 17px/30px $mon;
                    color: #2f2933;
                    transition: all 0.2s linear;
                }
                .like{
                    float: right;
                    a{
                        font: 400 14px/30px $lato;
                        color: #666666;
                        i{
                            color: #2896df;
                            padding-right: 5px;
                        }
                    }
                }
            }
            .date{
                font: 700 14px/28px $lato;
                color: #666666;
            }
        }
        &:hover{
            .content{
                h2{
                    color: #2896df;
                }
            }
        }
    }
    .load-btn{
        font: 700 14px/60px $mon;
        letter-spacing: 0.60px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0px 54px;
        border-radius: 20px;
        background: #2896df;
        color: #fff;
        border: 2px solid transparent;
        transition: all 0.4s linear;
        margin-top: 60px;
        &:hover{
            border-color: #2896df;
            background: transparent;
            color: #2896df;
        }
    }
}
/* End lp-portfolio-area css
==================================================================*/


.project-details_gallery{
    
}
.w_25{
    width: 27.6%;
    float: left;
}
.w_50{
    width: 44.7%;
    float: left;
}
.galler_img{
    img{
        width: 100%;
    }
}


/* Start creative_team
==================================================================*/
.creative_team{
    padding: 85px 0px 100px;
}
.team_section_heading{
    text-align: center;
    padding: 0px 100px 30px;
    h2{
        font: 700 30px/35px $mon;
        padding-bottom: 15px;
        color: #454545;
    }
    p{
        font: 400 15px/28px $lato;
        color: #646464;
        letter-spacing: 0.45px;
    }
}
/* End creative_team
==================================================================*/

/* Start video_intro_area
==================================================================*/
.video_intro_area{
    padding-bottom: 140px;
    .video_inro{
        position: relative;
        overflow: hidden;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: #181818;
            opacity: 0.45;
        }
    }
}
.intro-icon{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
        background: #979696;
        border-radius: 50%;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: -1;
    }
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: ' ';
        background-image: radial-gradient(rgba(30,141,238,0), #979696);
        background-size: cover;
        animation: windowToggleAnimation 1.5s infinite;
        border-radius: 50%;
        z-index: 0;
    }
    &:hover{
        color: #fff;
        &:before{
            transform: scale(1.10, 1.10);
        }
    }
}
.intro_content{
    h2{
        font:700 30px/50px $mon;
        color: #454545;
        letter-spacing: 0.60px;
    }
    p{
        font: 400 15px/28px $lato;
        color: #646464;
        letter-spacing: 0.75px;
        padding: 10px 0px 30px;
    }
}
.pr-details_info{
    li{
        display: block;
        font: 400 15px/30px $lato;
        letter-spacing: 0.80px;
        color: #424242;
        .info{
            width: 90px;
            display: inline-block;
            font-weight: 900;
        }
        .dot{
            padding-right: 25px;
        }
    }
}
@keyframes windowToggleAnimation {
    0% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    100% {
        -webkit-transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        -ms-transform: scale(1.4, 1.4);
        -o-transform: scale(1.4, 1.4);
        transform: scale(1.4, 1.4);
        opacity: 0
    }
}


.video_intro_area_two{
    padding: 90px 0px;
    .video_inro{
        img{
            max-width: 100%;
            width: 100%;
        }
    }
}

.pr-details_creative{
    padding: 70px 30px 0px;
    .creative_content{
        padding: 0px 42px 0px 35px; 
    }
}
/* End video_intro_area
==================================================================*/

/* Start project_gallery_area_two
==================================================================*/
.project_gallery_area_two{
    .pr_item_img{
        img{
            width: 100%;
            max-width: 100%;
        }
    }
    .intro_content{
        max-width: 585PX;
        margin-left:auto;
        margin-right: 0px;
        padding-right: 57px;
        padding-top: 55px;
    }
}
/* End project_gallery_area_two
==================================================================*/


/* Start pr-details-creative-info
==============================================================*/
.pr-details-creative-info{
    padding: 100px 0px 140px;
    .intro_content{
        max-width: 870px;
        margin: 0 auto;
        p{
            padding-bottom: 50px;
        }
        .pr-details_info{
            max-width: 375px;
            margin: 0 auto;
            background: #252222;
            border-radius: 22px;
            text-align: left;
            padding: 32px 25px 32px 65px;
            position: relative;
            &:after{
                content: "";
                width: 12px;
                height: 12px;
                background: #252222;
                position: absolute;
                top: -6px;
                left: 50%;
                transform: rotate(45deg);
                margin-left: -6px;
            }
            li{
                color: #fff;
            }
        }
    }
}



/* Start gallery_area css
============================================*/
.gallery_area{
    overflow: hidden;
    padding-top: 90px;
    .project_fillter{
        margin-bottom: 15px;
        li{
            & + li{
                margin-left: 5px;
            }
        }
    }
}
.gallery_inner{
    .gallery_item{
        position: relative;
        cursor: pointer;
        text-align: center;
        z-index: 1;
        margin-top: 30px;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 0;
            background: #2896df;
            opacity: 0;
            transition: all 0.3s linear;
        }
        img{
            max-width: 100%;
        }
        .hover_content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            overflow: hidden;
            padding: 0 25px;
            color: #fff;
            h4{
                font: 700 20px/30px $mon;
                padding-bottom: 10px;
                opacity: 0;
                transform: translateY(2rem);
                -webkit-transition: opacity 300ms 350ms ease, color 0.6s ease, -webkit-transform 300ms 350ms ease;
                transition: opacity 300ms 350ms ease, color 0.6s ease, -webkit-transform 300ms 350ms ease;
            }
            ul{
                opacity: 0;
                transform: translateY(3rem);
                -webkit-transition: opacity 300ms 350ms ease, color 0.6s ease, -webkit-transform 300ms 350ms ease;
                transition: transform 300ms 400ms ease, opacity 300ms 400ms ease, color 0.6s ease, -webkit-transform 300ms 400ms ease;
                li{
                    display: inline-block;
                    margin: 0px 5px;
                    a{
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
        &:hover{
            &:before{
                opacity: 0.60;
            }
            h4,ul{
                opacity: 1;
                transform: translateY(0rem);
            }
        }
    }
}

