/* Packages Area css
============================================================================================ */
.service_packages_area{
    overflow: hidden;
    clear: both;
    padding-top: 100px;
}
.service_p_inner{
    overflow: hidden;
    padding: 30px 0px 100px 0px;
    .packages_item{
        width: calc(100% / 5);
        float: left;
        text-align: center;
        border: 5px solid #e2e2e2;
        border-right: 0px;
        background: #fff;
        padding: 45px 0px 71px 0px;
        .packages_item_inner{
            h4{
                font-size: 20px;
                font-family: $mon;
                font-weight: bold;
                letter-spacing: .40px;
                color: #141414;
                padding-top: 15px;
                padding-bottom: 4px;
            }
            h5{
                font-size: 13px;
                color: #b5b5b5;
                font-family: $mon;
                font-weight: normal;
                letter-spacing: .39px;
            }
            p{
                font-size: 15px;
                line-height: 24px;
                color: #606060;
                font-family: $lato;
                font-weight: normal;
                max-width: 255px;
                margin: auto;
                padding-top: 20px;
            }
        }
        &:last-child{
            border-right: 5px solid #e2e2e2;
        }
        &:nth-child(3){
            transform: scale(1.1);
            border: 5px solid #eeb013;
            border-radius: 10px;
            background: url(../img/package-bg.png) no-repeat scroll center center;
            background-size: cover;
            padding-bottom: 35px;
        }
        .read_m_btn{
            padding: 0px 26px;
            font-size: 12px;
            line-height: 37px;
            margin-top: 25px;
        }
    }   
}
.packages_list{
    text-align: center;
    padding: 0px 40px 0px 25px;
    margin-top: 20px;
    .media{
        margin-top: 15px;
        text-align: left;
        .media-left{
            padding-right: 10px;
            i{
                font-size: 14px;
                color: #393939;
            }
        }
        .media-body{
            p{
                padding-top: 0px;
                color: #393939;
                font-size: 14px;
                font-family: $mon;
                font-weight: normal;
                line-height: 26px;
            }
        }
    }
}
/* End Packages Area css
============================================================================================ */

/* Start service_packages_area_two css
===========================================================*/
.service_packages_area_two{
    padding: 0px;   
}
/* Two service_packages_area_two css
===========================================================*/


/* Success Area css
============================================================================================ */
.your_success_area{
    background: url(../img/success-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    padding: 205px 0px 100px 0px;
    .success_content{
        text-align: center;
        h4{
            font-size: 61.74px;
            font-family: $mon;
            color: #fff;
            span{
                color: #f4b900;
            }
        }
        h2{
            font-size: 96px;
            color: #fff;
            font-family: $mon;
            font-weight: bold;
        }
        h5{
            font-size: 20px;
            font-family: $mon;
            font-weight: bold;
            line-height: 25px;  
            letter-spacing: 1px;
            color: #fff;
            padding: 15px 0px 15px 0px;
        }
        .more_d_btn{
            padding: 0px 44px;
            line-height: 52px;
            background: #f4b900;
            font-size: 14px;
            font-family: $mon;
            font-weight: bold;
            letter-spacing: .28px;
            &:hover, &:focus{
                background: $dip;
                color: #fff;
            }
        }
    }
}
/* End Success Area css
============================================================================================ */