/* Project Area css
============================================================================================ */
.project_area{
    padding: 100px 0px 214px 0px;
    &.portfolio_project{
        padding: 100px 0px 110px 0px;
    }
}
.project_fillter{
    text-align: center;
    margin-bottom: 60px;
    li{
        display: inline-block;
        a{
            display: inline-block;
            line-height: 40px;
            padding: 0px 30px;
            color: #252525;
            font-size: 14px;
            font-family: $mon;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 20px;
            @include transition;
        }
        &:hover, &.active{
            a{
                color: #fff;
                background: #0081ff;
            }
        }    
    }
}
.project_inner{
    margin-bottom: -30px;
    overflow: hidden;
    clear: both;
    .project_item{
        margin-bottom: 30px;
        position: relative;
        img{
            width: 100%;
            border-radius: 10px;
        }
        .project_hover{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: rgba(0, 0, 0, .80);
            border-radius: 10px;
            display: flex;
            opacity: 0;
            @include transition;
            .media{
                padding-left: 36px;
                flex: 1;
                align-self: center;
                vertical-align: middle;
                .media-left{
                    padding-right: 15px;
                    a{
                        display: inline-block;
                        height: 38px;
                        width: 38px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 36px;
                        background: #0081ff;
                        opacity: 0;
                        -webkit-transform: translateY(2rem);
                        -ms-transform: translateY(2rem);
                        transform: translateY(2rem);
                        -webkit-transition: opacity 1s 0.5s ease, color 0.6s ease, -webkit-transform .4s 0.5s ease;
                        transition: opacity 1s 0.5s ease, color 0.6s ease, -webkit-transform .4s 0.5s ease;
                        -o-transition: transform .4s 0.5s ease, opacity 1s 0.5s ease, color 0.6s ease;
                        transition: transform .4s 0.5s ease, opacity 1s 0.5s ease, color 0.6s ease;
                        transition: transform .4s 0.5s ease, opacity 1s 0.5s ease, color 0.6s ease, -webkit-transform .4s 0.5s ease;
                    }
                    img{
                        width: auto;
                    }
                }
                .media-body{
                    h4{
                        font-size: 20px;
                        color: #fff;
                        font-weight: 600;
                        line-height: 24px;
                        padding-right: 70px;
                        opacity: 0;
                        -webkit-transform: translateY(3rem);
                        -ms-transform: translateY(3rem);
                        transform: translateY(3rem);
                        -webkit-transition: opacity 1s 0.8s ease, color 0.6s ease, -webkit-transform 1s 0.8s ease;
                        transition: opacity 1s 0.8s ease, color 0.6s ease, -webkit-transform 1s 0.8s ease;
                        -o-transition: transform 1s 0.8s ease, opacity 1s 0.8s ease, color 0.6s ease;
                        transition: transform 1s 0.8s ease, opacity 1s 0.8s ease, color 0.6s ease;
                        transition: transform 1s 0.8s ease, opacity 1s 0.8s ease, color 0.6s ease, -webkit-transform 1s 0.8s ease;
                    }
                    h5{
                        font-size: 16px;
                        font-family: $lato;
                        font-weight: normal;
                        color: #8799a3;
                        padding-top: 18px;
                    }
                }
            }
        }
        &:hover{
            .project_hover{
                opacity: 1;
                .media{
                    .media-left{
                        a{
                            opacity: 1;
                            -webkit-transform: translateY(0);
                            -ms-transform: translateY(0);
                            transform: translateY(0);
                        }
                    }
                    .media-body{
                        h4{
                            opacity: 1;
                            -webkit-transform: translateY(0);
                            -ms-transform: translateY(0);
                            transform: translateY(0);
                        }
                    }
                }
            }
        }    
    }
}
.all_work{
    text-align: center;
    margin-top: 60px;
}
/* End Project Area css
============================================================================================ */

/* Recent Project Area css
============================================================================================ */
.recent_project_area{
    overflow: hidden;
    padding-top: 100px;
}
.rec_project_fillter{
    text-align: center;
    margin-bottom: 45px;
    li{
        display: inline-block;
        margin-right: 28px;
        a{
            font-size: 12px;
            text-transform: uppercase;
            font-family: $mon;
            font-weight: normal;
            color: #141414;
            letter-spacing: 1.2px;
        }
        &:last-child{
            margin-right: 0px;
            a{
                height: 20px;
                width: 20px;
                text-align: center;
                color: #fff;
                line-height: 20px;
                display: block;
                background: #00abc9;
                border-radius: 2px;
                font-size: 15px;
                font-family: $mon;
                text-indent: 2px;
            }
            &.active{
                a{
                    color: #fff;
                }
            }
        }
        &.active{
            a{
                color: #00abc9;
            }
        }
    }
}

.recent_project_inner{
    overflow: hidden;
    clear: both;
    margin: -5px;
    .recent_project_item{
        padding: 5px;
        float: left;
        overflow: hidden;
        img{
            width: 100%;
        }
        .rec_item_inner{
            position: relative;
            z-index: 3;
            &:before{
                content: "";
                background: rgba(0, 171, 201, .55);
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 100%;
                height: 100%;
                opacity: 0;
                @include transition;
            }
            ul{
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                text-align: center;
                width: 100%;
                overflow: hidden;
                li{
                    display: inline-block;
                    margin-right: 6px;
                    a{
                        color: #fff;
                        font-size: 15px;
                        height: 38px;
                        width: 38px;
                        border-radius: 50%;
                        background: #0081ff;
                        display: block;
                        line-height: 36px;
                        position: relative;
                        bottom: -35px;
                        opacity: 0;
                        @include transition;
                        img{
                            width: auto;
                        }    
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
        &:hover{
            .rec_item_inner{
                &:before{
                    opacity: 1;
                }
                ul{
                    li{
                        a{
                            bottom: 0px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
/* End Recent Project Area css
============================================================================================ */


/* Project Area css
============================================================================================ */
//.project_area{
//    padding: 100px 0px 214px 0px;
//    &.portfolio_project{
//        padding: 100px 0px 110px 0px;
//    }
//}
//.project_fillter{
//    text-align: center;
//    margin-bottom: 60px;
//    li{
//        display: inline-block;
//        a{
//            display: inline-block;
//            line-height: 40px;
//            padding: 0px 30px;
//            color: #252525;
//            font-size: 14px;
//            font-family: $mon;
//            font-weight: bold;
//            text-transform: uppercase;
//            border-radius: 20px;
//            @include transition;
//        }
//        &:hover, &.active{
//            a{
//                color: #fff;
//                background: #0081ff;
//            }
//        }    
//    }
//}
//.project_inner{
////    margin-bottom: -30px;
////    overflow: hidden;
////    clear: both;
//    .project_item{
//        margin-bottom: 30px;
//        position: relative;
//        img{
//            width: 100%;
//            border-radius: 10px;
//        }
//        .project_hover{
//            position: absolute;
//            width: 100%;
//            height: 100%;
//            left: 0px;
//            top: 0px;
//            background: rgba(0, 0, 0, .80);
//            border-radius: 10px;
//            display: flex;
//            opacity: 0;
//            @include transition;
//            .media{
//                padding-left: 36px;
//                flex: 1;
//                align-self: center;
//                vertical-align: middle;
//                .media-left{
//                    padding-right: 15px;
//                    a{
//                        display: inline-block;
//                        height: 38px;
//                        width: 38px;
//                        border-radius: 50%;
//                        text-align: center;
//                        line-height: 36px;
//                        background: #0081ff;
//                        opacity: 0;
//                        -webkit-transform: translateY(2rem);
//                        -ms-transform: translateY(2rem);
//                        transform: translateY(2rem);
//                        -webkit-transition: opacity 1s 0.5s ease, color 0.6s ease, -webkit-transform .4s 0.5s ease;
//                        transition: opacity 1s 0.5s ease, color 0.6s ease, -webkit-transform .4s 0.5s ease;
//                        -o-transition: transform .4s 0.5s ease, opacity 1s 0.5s ease, color 0.6s ease;
//                        transition: transform .4s 0.5s ease, opacity 1s 0.5s ease, color 0.6s ease;
//                        transition: transform .4s 0.5s ease, opacity 1s 0.5s ease, color 0.6s ease, -webkit-transform .4s 0.5s ease;
//                    }
//                    img{
//                        width: auto;
//                    }
//                }
//                .media-body{
//                    h4{
//                        font-size: 20px;
//                        color: #fff;
//                        font-weight: 600;
//                        line-height: 24px;
//                        padding-right: 70px;
//                        opacity: 0;
//                        -webkit-transform: translateY(3rem);
//                        -ms-transform: translateY(3rem);
//                        transform: translateY(3rem);
//                        -webkit-transition: opacity 1s 0.8s ease, color 0.6s ease, -webkit-transform 1s 0.8s ease;
//                        transition: opacity 1s 0.8s ease, color 0.6s ease, -webkit-transform 1s 0.8s ease;
//                        -o-transition: transform 1s 0.8s ease, opacity 1s 0.8s ease, color 0.6s ease;
//                        transition: transform 1s 0.8s ease, opacity 1s 0.8s ease, color 0.6s ease;
//                        transition: transform 1s 0.8s ease, opacity 1s 0.8s ease, color 0.6s ease, -webkit-transform 1s 0.8s ease;
//                    }
//                    h5{
//                        font-size: 16px;
//                        font-family: $lato;
//                        font-weight: normal;
//                        color: #8799a3;
//                        padding-top: 18px;
//                    }
//                }
//            }
//        }
//        &:hover{
//            .project_hover{
//                opacity: 1;
//                .media{
//                    .media-left{
//                        a{
//                            opacity: 1;
//                            -webkit-transform: translateY(0);
//                            -ms-transform: translateY(0);
//                            transform: translateY(0);
//                        }
//                    }
//                    .media-body{
//                        h4{
//                            opacity: 1;
//                            -webkit-transform: translateY(0);
//                            -ms-transform: translateY(0);
//                            transform: translateY(0);
//                        }
//                    }
//                }
//            }
//        }    
//    }
//}
//.all_work{
//    text-align: center;
//    margin-top: 60px;
//}
/* End Project Area css
============================================================================================ */

.portfolio_area{
    padding-top: 20px;
    &.portfolio_four{
        padding-top: 0px;
    }
}
.portfolio_tb{
    overflow: hidden;
    .p0{
        padding: 3px; 
    }
    .portfolio_item{
        position: relative;
        cursor: pointer;
        img{
            max-width: 100%;
            width: 100%;
        }
        .hover_text{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            opacity: 0;
            transition: all 0.2s linear 0s;
            .content{
                flex: 1;
                align-self: center;
                vertical-align: middle;
                text-align: center;
                color: #fff;
                a{
                    font-size: 22px;
                    color: #fff;
                    opacity: 0;
                    transition: all 0.7s linear;
                }
                h4{
                    font: 700 18px/28px $mon;
                    color: #fff;
                    padding-top: 20px;
                    transform: translateY(1rem);
                    transition: all 0.4s linear;
                    opacity: 0;
                }
            }
        }
        &:hover{
            .hover_text{
                opacity: 1;
                a{
                    opacity: 1;
                }
                h4{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}


/* Dsicover Project Area css
============================================================================================ */
.discover_project_area{
    overflow: hidden;
    &.about_discover{
        .discover_project_inner{
            .discover_item{
                .discover_hover{
                    h3{
                        background: #2896df;
                    }
                }
            }
        }
    }
}
.discover_project_inner{
    .discover_item{
        float: left;
        overflow: hidden;
        position: relative;
        z-index: 2;
        &:before{
            content: "";
            background: rgba(33, 43, 49, .77);
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all 250ms ease-in;
        }
        img{
            width: 100%;
            transition: all 300ms linear;
        }
        .discover_hover{
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            z-index: 2;
            h3{
                font-size: 13px;
                font-family: $lato;
                color: #fff;
                display: inline-block;
                padding: 0px 16px;
                background: #3a53de;
                line-height: 22px;
                opacity: 0;
                -webkit-transform: translateY(3rem);
                -ms-transform: translateY(3rem);
                transform: translateY(3rem);
                -webkit-transition: opacity 300ms 200ms ease, color 0.6s ease, -webkit-transform 300ms 200ms ease;
                transition: opacity 300ms 200ms ease, color 0.6s ease, -webkit-transform 300ms 200ms ease;
                -o-transition: transform 300ms 200ms ease, opacity 300ms 200ms ease, color 0.6s ease;
                transition: transform 300ms 200ms ease, opacity 300ms 200ms ease, color 0.6s ease;
                transition: transform 300ms 200ms ease, opacity 300ms 200ms ease, color 0.6s ease, -webkit-transform 300ms 200ms ease;
            }
            h4{
                font-size: 20px;
                font-family: $mon;
                font-weight: bold;
                color: #fff;
                line-height: 30px;
                max-width: 260px;
                margin: auto;
                padding: 20px 0px;
                opacity: 0;
                -webkit-transform: translateY(3rem);
                -ms-transform: translateY(3rem);
                transform: translateY(3rem);
                -webkit-transition: opacity 300ms 350ms ease, color 0.6s ease, -webkit-transform 300ms 350ms ease;
                transition: opacity 300ms 350ms ease, color 0.6s ease, -webkit-transform 300ms 350ms ease;
                -o-transition: transform 300ms 350ms ease, opacity 300ms 350ms ease, color 0.6s ease;
                transition: transform 300ms3500ms ease, opacity 300ms 350ms ease, color 0.6s ease;
                transition: transform 300ms 350ms ease, opacity 300ms 350ms ease, color 0.6s ease, -webkit-transform 300ms 350ms ease;
            }
            ul{
                opacity: 0;
                -webkit-transform: translateY(3rem);
                -ms-transform: translateY(3rem);
                transform: translateY(3rem);
                -webkit-transition: opacity 300ms 400ms ease, color 0.6s ease, -webkit-transform 300ms 400ms ease;
                transition: opacity 300ms 400ms ease, color 0.6s ease, -webkit-transform 300ms 400ms ease;
                -o-transition: transform 300ms 400ms ease, opacity 300ms 400ms ease, color 0.6s ease;
                transition: transform 300ms 400ms ease, opacity 300ms 400ms ease, color 0.6s ease;
                transition: transform 300ms 400ms ease, opacity 300ms 400ms ease, color 0.6s ease, -webkit-transform 300ms 400ms ease;
                li{
                    display: inline-block;
                    margin-right: 16px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    a{
                        font-size: 21px;
                        color: #8799a3;
                        @include transition;
                        &:hover{
                            color: #fff;
                        }
                    }
                }    
            }
        }
        &:hover{
            &:before{
                opacity: 1;
            }
            img{
                transform: scale(1.06);
            }
            .discover_hover{
                h3{
                    opacity: 1;
                    transform: translateY(0rem);
                }
                h4{
                    opacity: 1;
                    transform: translateY(0rem);
                }
                ul{
                    opacity: 1;
                    transform: translateY(0rem);
                }
            }
        }
    }    
}
/* End Dsicover Project Area css
============================================================================================ */

/*cr_portfolio_area css
=========================================================*/
.cr_portfolio_area{
    padding: 110px 60px 0px;
    .project_fillter li:hover a, .project_fillter li.active a{
        background: #fde428;
        color: #141414;
    }
}
.portfolios_inner{
    .cr_portfolio_item{
        padding: 0px;
        text-align: center;
        position: relative;
        cursor: pointer;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff;
            opacity: 0;
            transition: all 300ms linear;
        }
        img{
            max-width: 100%;
            width: 100%;
        }
        .content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            overflow: hidden;
            h2{
                font: 700 24px/27px $mon;
                color: #121212;
                text-transform: uppercase;
                transform: translateY(-25px);
                transition: all 550ms linear;
            }
            p{
                font-size: 16px;
                line-height: 27px;
                letter-spacing: 0.40px;
                color: #fb383b;
                transform: translateY(20px);
                transition: all 600ms linear;
            }
        }
        &:hover{
            &:before{
                opacity: 0.86;
            }
            h2,p{
                transform: translateY(0);
            }
        }
    }
}

/*promo_area_two css
=========================================================*/
.promo_area_two{
    padding: 70px 0px 0px;
    .project_fillter{
        li{
            &:hover,&.active{
                a{
                    background: #fde428;
                    color: #141414;
                }
            }
        }
    }
    .promo_inner{
        .promo_area_r{
            margin-bottom: 3px;
            position: relative;
            z-index: 1;
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #262626;
                opacity: 0.60;
                position: absolute;
                z-index: 0;
            }
            img{
                width: auto;
            }
            .promo_content{
                h2{
                    font-size: 50px;
                }
                a{
                    color: #fde428;
                }
            }
        }
    }
    &.portfolio_promo{
        padding: 100px 44px 115px 44px;
    }
}

/* Gym Portfolio Area css
============================================================================================ */
.gym_portfolio_area{
    overflow: hidden;
    .gym_port_item{
        float: left;
        position: relative;
        z-index: 3;
        &:before{
            content: "";
            background: rgba(218, 48, 56, .79);
            width: 0%;
            height: 100%;
            position: absolute;
            left: auto;
            right: 0;
            top: 0px;
            z-index: 1;
            opacity: 0;
            @include transition;
        }
        img{
            width: 100%;
        }
        a{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            z-index: 1;
            color: #fff;
            font-size: 18px;
            opacity: 0;
            @include transition;
        }
        &:hover{
            &:before{
                right: auto;
                left: 0;
                opacity: 1;
                width: 100%;
            }
            a{
                opacity: 1;
            }
        }
    }
}
.g_wd_28{
    width: 28.35%
}
.g_wd_29{
    width: 29.92%;
}
.g_wd_15{
    width: 15.74%;
}
.g_wd_25{
    width: 25.96%;  
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* End Gym Portfolio Area css
============================================================================================ */

/*promo_area_three css
=============================================*/
.promo_area_three{
    padding: 75px 0px 80px;
    .project_fillter{
        li{
            &:hover,&.active{
                a{
                    background: #009eb9;
                }
            }
        }
    }
    .promo_inner{
        .promo_area_cr{
            padding: 0px;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: url('../img/company/cursor.png'), auto;
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #262626;
                opacity: 0.61;
                position: absolute;
                z-index: 0;
            }
            &:after{
                content: "";
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                border-top: 1px solid #009eb9;
                border-bottom: 1px solid #009eb9;
                transition: all 0.4s linear;
            }
            .promo_content{
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                transition: all 0.2s linear;
                padding: 0px 10px;
                h2{
                    font: 900 28px $hee;
                    transition: all 0.2s linear;
                }
                p{
                    font: 400 17px $mon;
                    letter-spacing: -0.30px;
                    color: #d7d7d7;
                    padding: 5px 0px 10px;
                }
                a{
                    font-family: $crim;
                    font-size: 14px;
                    line-height: 44px;
                    letter-spacing: 0.20px;
                    color: #fff;
                    font-style: italic;
                    transition: all 0.2s linear;
                    display: inline-block;
                }
            }
            img{
                max-width: 100%;
                width: 100%;
            }
            &:hover{
                &:before{
                    opacity: 0.73;
                }
                &:after{
                    width: 55%;
                }
                .promo_content{
                    h2{
                        transform: translateY(30px);
                        color: #009eb9;
                    }
                    p{
                        opacity: 0;
                        visibility: hidden;
                    }
                    a{
                        transform: translateY(-30px);
                    }
                }
            }
        }
    }
    &.portfolio2_promo{
        padding: 100px 0px 120px 0px;
    }
}

/*freelance_portfolio_area css
==========================================================*/
.freelance_portfolio_area{
    padding: 110px 0px 80px;
    .section_title{
        h6{
            font-family: $mon;
            font-style: italic;
            font-weight: 300;
            font-size: 25px;
            letter-spacing: -0.46px;
            line-height: 46px;
        }
        h2{
            font-weight: 900;
            color: #272727;
            letter-spacing: -0.40px;
            line-height: 46px;
        }
    }
    .project_fillter li:hover a, .project_fillter li.active a{
        background: #f42267;
    }
}
.freelance_portfolio{
    margin-left: -10px;
    margin-right: -10px;
    .f_port-pad{
        padding: 0px 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .f_portfolio_item{
        cursor: pointer;
        .img{
            border-radius: 4px;
            position: relative;
            &:before{
                content: "";
                border-radius: 4px;
                background-color: rgb(0, 0, 0);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all 0.3s linear;
                opacity: 0;
            }
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        .hover_item{
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            a{
                font-size: 16px;
                color: #fff;
                padding: 0px 12px;
                position: relative;
                top: -21px;
                transition: all 0.4s linear;
                &:first-child{
                    transition: all 0.3s linear;
                }
                &:last-child{
                    transition: all 0.5s linear;
                }
                &:hover{
                    color: #f42267;
                }
            }
        }
        .content{
            padding: 27px 0px 25px;
            h2{
                font-size: 20px;
                line-height: 22px;
                color: #2b2b2b;
                font-family: $lora;
                font-weight: 700;
                font-style: italic;
                padding-bottom: 5px;
            }
            p{
                font-size: 14px;
                line-height: 22px;
                color: #a3a3a3;
                font-family: $lato;
                font-weight: 400;
            }
        }
        &:hover{
            .img{
                &:before{
                    opacity: 0.62;
                }  
            }
            .hover_item{
                a{
                    top: 0;
                }
            }
            h2{
                color:#f42267;
            }
        }
    }
}

/*portfolio_agency_area css
===========================================*/
.portfolio_agency_area{
    
}
.portfolio_ag_inner{
    .portfolio_item{
        position: relative;
        text-align: center;
        cursor: pointer;
        &:before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #f42267;
            opacity: 0;
            transition: all 0.2s linear;
        }
        img{
            max-width: 100%;
            width: 100%;
        }
        .hover_content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            overflow: hidden;
            a{
                width: 38px;
                height: 38px;
                background: #000;
                font-size: 13px;
                line-height: 38px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                display: inline-block;
                margin: 0px 3px;
                transform: scale(0);
                transition: all 0.3s linear;
                &:hover{
                    background: #ff3538;
                }
            }
            h3{
                font: 700 20px/25px $mon;
                color: #fff;
                padding-top: 20px;
                transform: translateY(72px);
                transition: all 0.7s linear;
            }
        }
        &:hover{
            &:before{
                opacity: 0.85;
            }
            .hover_content{
                a{
                    transform: scale(1);
                }
                h3{
                    transform: translateY(0);
                }
            }
        }
    }
}




/*portfolio_agency_test css
=====================================================*/
.portfolio_agency_test{
    background: url("../img/portfolio-agency/testimonial-bg.jpg") no-repeat scroll center 0/cover;
}


.minmal_portfolio{
    padding-bottom: 110px;
}