/* Price Area css
============================================================================================ */
.gym_pricing_area{
    overflow: hidden;
    background: url(../img/gym-price-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    padding: 100px 160px;
    .project_fillter{
        li{
            a{
                color: #fff;
                text-transform: capitalize;
            }
            &:hover, &.active{
                a{
                    background: #da3038;
                }
            }    
        }
    }
}
.project_inner.gym_price_inner{
    margin-bottom: -20px;
    .col-md-6{
        margin-bottom: 20px;
    }
}
.price_by_item{
    background: #201f25;
    position: relative;
    text-align: center;
    padding: 23px 0px;
    z-index: 2;
    &:before{
        content: attr(data-line);
        color: rgba(255, 255, 255, .03);
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        top: 47%;
        transform: translateY(-50%);
        font-size: 88px;
        font-family: $pop;
        font-weight: bold;
        z-index: -1
    }
    h4{
        font-size: 16px;
        color: #da3038;
        font-family: $mon;
        font-weight: bold;
        letter-spacing: .32px;
        padding-bottom: 10px;
    }
    .more_d_btn{
        padding: 0px 23px;
        
    }
}
.gym_price_item{
    background: #201f25;
    position: relative;
    overflow: hidden;
    padding: 28px 30px;
    .media{
        .media-left{
            padding-right: 30px;
            vertical-align: middle;
            i{
                font-size: 30px;
                color: #fff;
            }
        }
        .media-body{
            vertical-align: middle;
            padding-left: 35px;
            position: relative;
            &:before{
                content: "";
                background: #505050;
                height: 33px;
                width: 2px;
                position: absolute;
                left: -1px;
                top: 50%;
                transform: translateY(-50%);
            }
            h4{
                display: inline-block;
                font-size: 16px;
                color: #da3038;
                font-family: $mon;
                font-weight: bold;
                letter-spacing: .32px;
            }
            h5{
                text-align: right;
                float: right;
                font-size: 12px;
                color: #da3038;
                font-family: $mon;
                font-weight: normal;
                letter-spacing: .72px;
                padding-top: 5px;
            }
            p{
                font-size: 13px;
                color: #fff;
                font-family: $lato;
                padding-top: 3px;
            }
        }
    }
}
/* End Price Area css
============================================================================================ */

/* About Price Area css
============================================================================================ */
.about_price_area{
    padding: 155px 0px 200px 0px;
    .company_h_title{
        overflow: hidden;
        margin-bottom: 94px;
    }
    .about_price_inner{
//        border: 1px solid #ededed;
    }
}
.ab_price_item{
    width: calc(100% / 4);
    float: left;
    text-align: center;
    background: #fff;
    border: 1px solid #ededed;
//    &:last-child{
//        border-right: 0px;
//    }
    & + .ab_price_item{
        border-left: 0px;
    }
    .price_top{
        padding: 39px 0px;
        h3{
            font-size: 20px;
            text-transform: uppercase;
            color: #333333;
            font-family: $mon;
            font-weight: 800;
        }
    }
    .ab_price{
        background: #f8f8f8;
        padding: 25px 0px; 
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        h2{
            font-size: 60px;
            font-family: $mon;
            font-weight: bold;
            color: #69d2e7;
            span{
                font-size: 24px;
                color: #666666;
                font-family: $mon;
                font-weight: bold;
                vertical-align: top;
                position: relative;
                top: 8px;
                padding-right: 8px;
            }
        }
        h4{
            text-transform: uppercase;
            color: #999999;
            font-family: $mon;
            font-size: 12px;
            font-weight: bold;
            padding-top: 6px;
        }
    }
    ul{
        li{
            a{
                font-size: 15px;
                color: #666666;
                font-family: $lato;
                font-weight: bold;
                padding: 18px 0px;
                display: block;
                border-bottom: 1px solid #ededed;
            }
        }    
    }
    .creative_btn{
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 4px;
        line-height: 50px;
        padding: 0px 42px;
        box-shadow: none;
    }
    &.profe{
        background: url(../img/price-bg.png) no-repeat scroll center center;
        background-size: cover;
        border-radius: 25px;
        margin-top: -38px;
        margin-bottom: -62px;
        box-shadow: 0px 67px 213px 0px rgba(0, 0, 0, 0.29);
        transform: scale(1.01);
        border: 0px;
        .price_top{
            padding: 78px 0px 40px 0px;
        }
        .ab_price{
            background: #f8f8f8;
        } 
        .creative_btn{
            margin-bottom: 62px;
            background: #45382d;
        }
    }
}
/* End About Price Area css
============================================================================================ */