/* Shop page Header Area css
============================================================================================ */
.our_product_area{
    padding-bottom: 66px;
    .trainer_title{
        h2{
            span{
                color: #fecb16;
            }
            &:before{
                background: #fecb16;
            }
        }
    }
    &.related_product{
        padding-bottom: 100px;
    }
}
.product_item{
    .product_img{
        position: relative;
        img{
            max-width: 100%;
            @include transition;
        }
        .product_hover{
            position: absolute;
            left: 0px;
            top: 50%;
            width: 100%;
            text-align: center;
            transform: translateY(-50%);
            a{
                display: block;
                width: 130px;
                height: 40px;
                text-align: center;
                color: #fff;
                font-size: 12px;
                font-family: $lato;
                font-weight: bold;
                letter-spacing: .6px;
                margin: 0px auto 7px;
                background: #333333;
                line-height: 40px;
                text-transform: uppercase;
                position: relative;
                @include transition;
                position: relative;
                left: -10px;
                opacity: 0;
                i{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    font-size: 14px;
                }
                &:hover{
                    background: #f4b900;
                    color: #333333;
                    i{
                        color: #fff
                    }
                }
            }    
        }
    }
    .product_content{
        padding-top: 24px;
        .pull-left{
            h4{
                font-size: 18px;
                color: #000;
                font-family: $mon;
                font-weight: bold;
            }
        }
        .pull-right{
            ul{
                li{
                    display: inline-block;
                    margin-left: 2px;
                    a{
                        color: #f4b900;
                        font-size: 14px; 
                    }
                }
            }
        }
        h5{
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $mon;
            font-size: 15px;
            color: #353535;
            letter-spacing: .375px;
            padding: 10px 0px 25px 0px;
            border-bottom: 1px solid #f4f4f4;
        }
    } 
    &:hover{
        .product_img{
            img{
                opacity: .32;
            }
            .product_hover{
                a{
                    opacity: 1;
                    position: relative;
                    left: 0px;
                }
            }
        }    
    }
}
/* Shop page Header Area css
============================================================================================ */

/* New Product Area css
============================================================================================ */
.new_product_area{
    padding: 100px 0px 140px 0px;
    .trainer_title{
        padding-bottom: 40px;
        margin-bottom: 0px;
        h2{
            span{
                color: #fecb16;
            }
            &:before{
                background: #fecb16;
            }
        }
    }
}
.new_product_inner{
    margin-bottom: -50px;
    overflow: hidden;
    .product_item{
        margin-bottom: 50px;
    }
}
.project_fillter.product_fillter{
    margin-bottom: 55px;
    li{
        margin-right: 50px;
        &:last-child{
            margin-right: 0px;
            a{
                &:before{
                    display: none;
                }
            }
        }
        a{
            padding: 0px;
            background: transparent;
            color: #999999;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: .9px;
            position: relative;
            &:before{
                content: "";
                height: 8px;
                width: 8px;
                background: #999999;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -29px;
            }
        }
        &:hover, &.active{
            a{
                color: #fecb16;
                &:before{
                    background: #fecb16;
                }
            }
        }
    }
}

/* End New Product Area css
============================================================================================ */

/*work-process-area css
============================================================*/
.work-process-area{
    padding: 100px 0px 0px;
}
.program-inner{
    background: url("../img/charity/payment-bg.jpg") no-repeat scroll center 0 /cover;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #29af8a;
        opacity: 0.89;
    }
    .boy-img{
        margin-top: -20px;
        text-align: center;
    }
    .work-plan{
        color: #fff;
        padding-right: 70px;
        padding-top: 85px;
        h3{
            font: 400 25px/30px $lora;
            font-style: italic;
        }
        h2{
            font: 900 25px/30px $mon;
            letter-spacing: -0.20px;
        }
        p{
            font: 400 17px/27px $lato;
            letter-spacing: 0.20px;
            padding: 10px 0px 38px;
        }
        .c-input-number{
            position: relative;
            margin-bottom: 8px;
            .input-group-addon{
                position: absolute;
                left: 40px;
                background: transparent;
                padding: 0px;
                font-size: 14px;
                line-height: 56px;
                color: #172734;
                z-index: 1;
                border: 0px;
                font-family: $mon;
                font-weight: 700;
            }
        }
        .bootstrap-select{
            width: 100% !important;
            .dropdown-toggle{
                height: 56px;
                border: 0px;
                box-shadow: none;
                border-radius: 2px;
                position: relative;
                font-family: $mon;
                font-weight: 700;
                font-size: 14px;
                line-height: 50px;
                color: #172734;
                padding-left: 51px;
                padding-top: 0px;
                padding-bottom: 0px;
                background: #fff;
                outline: none !important;
                .caret{
                    top: auto;
                    margin-top: 0px;
                    right: 30px;
                    border: 0px;
                    &:before{
                        content: "\f0dc";
                        display: inline-block;
                        font-family: FontAwesome;
                    }
                }
            }
            .dropdown-menu li a{
                &:hover,&:focus{
                    background: #ec1c33;
                    color: #fff;
                }
            }
            &.open{
                .dropdown-toggle{
                    &:hover,&:focus{
                        background: #fff;
                        box-shadow: none;
                        outline: inherit;
                    }
                } 
            }
        }
        .userincr-btn-dec{
            padding: 0px;
            background: transparent;
            border: 0px;
            position: absolute;
            right: 35px;
            z-index: 1;
            outline: none;
            line-height: 56px;
            top: 61%;
            transform: translateY(-50%);
            color: #151515;
            &.right{
                top: 40%;
            }
        }
        .form-group{
            font: 600 13px/46px $mon;
            text-transform: uppercase;
            color: #151515;
            position: relative;
            label{
                padding-left: 30px;
                position: relative;
            }
            input[type="checkbox"]{
                position: absolute;
                visibility: hidden;
                &:checked ~ .check:before{
                    opacity: 0;
                }
            }
            .check{
                width: 16px;
                height: 16px;
                border-radius: 2px;
                background: #fff;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                &:before{
                    content: '';
                    width: 9px;
                    height: 5px;
                    position: absolute;
                    top: 5px;
                    left: 3px;
                    border: 3px solid #5093e6;
                    border-top: none;
                    border-right: none;
                    background: transparent;
                    opacity: 1;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
.confirm-btn{
    a{
        font: 600 13px/40px $mon;
        color: #fff;
        background: #172734;
        display: inline-block;
        padding: 0px 29px;
        border-radius: 3px;
        margin-right: 7px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        i{
            font-size: 16px;
            padding-left: 12px;
        }
        &:before{
            background: #e90922;
            content: "";
            position: absolute;
            display: block;
            z-index: 0;
            width: 0px;
            height: 0px;
            left: 50%;
            top: 50%;
            right: 0;
            margin-top: 30px;
            border-radius: 100%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        &:hover{
            &:before{
                width: 110%;
                padding-top: 110%;
                margin-top: 0;
                transition: all .4s linear;
            }
        }
    }
}
.skill-step{
    padding-top: 57px;
    .step-item{
        .media-left{
            padding-right: 20px;
            i{
                width: 100px;
                height: 100px;
                border: 1px solid #ececec;
                background: #f8f8f8;
                font-size: 25px;
                line-height: 100px;
                color: #35a882;
                text-align: center;
                border-radius: 5px;
            }
        }
        .media-body{
            vertical-align: middle;
            span{
                font-family: $mon;
                color: #141414;
                font-size: 36px;
                letter-spacing: 1.6px;
                font-weight: 700;
                padding-bottom: 15px;
                display: inline-block;
            }
            h6{
                font-size: 12px;
                letter-spacing: 0.60px;
                color: #6f6f6f;
                text-transform: uppercase;
            }
        }
    }
}

.charity_about_work{
    padding-bottom: 75px;
}

/*charity-product-area css
======================================================================*/
.charity-product-area{
    padding: 112px 0px 90px;
}
.ch-product-item{
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
    margin-bottom: 30px;
    .product-img{
        position: relative;
        z-index: 1;
        overflow: hidden;
        &:before{
            content: "";
            background: #000;
            opacity: 0.71;
            position: absolute;
            left: auto;
            right: 0px;
            top: 0px;
            width: 0%;
            height: 100%;
            z-index: 1;
            -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
        }
        img{
            max-width: 100%;
            transition: all 0.6s linear;
            z-index: -1;
        }
        .hover-btn{
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            transform: translateY(-50%);
            z-index: 2;
            overflow: hidden;
            a{
                font: 700 12px/40px $lato;
                color: #fff;
                text-transform: uppercase;
                width: 130px;
                margin: 7px auto;
                display: block;
                background: #333333;
                text-align: center;
                &:hover{
                    background: #29af8a;
                }
                &.cart{
                    transform: translateY(-50px);
                    transition: all 0.5s linear;
                }
                &.list{
                    transform: translateY(50px);
                    transition: all 0.5s linear;
                }
            }
        }
    }
    .product_content{
        padding: 24px 0px 20px;
        h4{
            font: 700 18px/33px $mon;
            color: #000000;
        }
        ul{
            li{
                display: inline-block;
                a{
                    font-size:14px;
                    line-height:33px;
                    color: #838383;
                }
            }
        }
        h5{
            font: 500 15px/33px $mon;
            color: #353535;
            letter-spacing: 0.37px;
            text-transform: uppercase;
        }
    }
    &:hover{
        .product-img{
            &:before{
                width: 100%;
                right: auto;
                left: 0;
            }
            img{
                transform: scale(1.1);
            }
            .hover-btn{
                .cart,.list{
                    transform: translateY(0);
                }
            }
            
        }
    }
}

/* Product Details Area css
======================================================================*/
.product_details_area{
    padding: 100px 0px;
    &.flex_pro_details{
        padding: 70px 0px;
    }
}
.product_details_inner{
    position: relative;
    .carousel_nav{
        position: absolute;
        right: 15px;
        top: 0px;
        z-index: 5;
        .left{
            margin-right: 6px;
        }
        .carousel-control{
            height: 30px;
            width: 30px;
            box-shadow: none;
            padding: 0px;
            line-height: 30px;
            background: #ececec;
            color: #999999;
            position: relative;
            left: 0px;
            display: inline-block;
            text-shadow: none;
            font-size: 17.65px;
            opacity: 1;
            @include transition;
            &:hover{
                background: #000;
                color: #fff;
            }    
        }
    }
    .carousel.slide{
        .carousel-indicators{
            margin-bottom: 0px;
            top: 50%;
            margin-top: -298px;
            right: 0px;
            left: auto;
            width: 100px;
            li{
                width: 100px;
                height: 134px;
                background: transparent;
                display: block;
                text-indent: 0;
                border-radius: 0px;
                border: 2px solid #aaaaaa;
                margin: 0px;
                margin-bottom: 20px;
                img{
                    width: 100%;
                }  
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.product_d_text{
    .product_name{
        h2{
            font-size: 25px;
            color: #000000;
            font-family: $mon;
            font-weight: bold;
            text-transform: uppercase;
        }
        ul{
            padding: 15px 0px 20px 0px;
            li{
                display: inline-block;
                margin-right: 20px;
                a{
                    font-size: 14px;
                    font-family: $lato;
                    color: $dip;
                    i{
                        color: #ffcc00;
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
                &:nth-child(2){
                    a{
                        position: relative;
                        &:before{
                            content: "";
                            height: 13px;
                            position: absolute;
                            right: -10px;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #858585;
                            width: 1px; 
                        }
                        &:after{
                            content: "";
                            height: 13px;
                            position: absolute;
                            right: -11px;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #a0a0a0;
                            width: 1px; 
                        }
                    }
                }
            }    
        }
        h3{
            font-size: 24px;
            font-family: $lato;
            color: #000000;
            font-weight: bold;
        }
    }
    .p_tab{
        border-bottom: 1px solid #d6d6d6;
        .nav.nav-tabs{
            border-bottom: 1px solid #d6d6d6;
            margin-top: 30px;
            li{
                margin-bottom: 0px;
                a{
                    padding: 0px 26px;
                    border: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #999999;
                    font-family: $mon;
                    line-height: 40px;
                    position: relative;
                    background: transparent;
                    &:before{
                        content: "";
                        height: 2px;
                        background: #000;
                        position: absolute;
                        bottom: -1px;
                        left: 0px;
                        width: 100%;
                        opacity: 0;
                        @include transition;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        right: -1px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 14px;
                        width: 2px;
                        background: #c9c9c9;
                    }    
                }
                &:last-child{
                    margin-right: 0px;
                    a{
                        &:after{
                            display: none;
                        }
                    }    
                }
                &:first-child{
                    a{
                        padding-left: 0px;
                    }
                }
                &:hover, &.active{
                    a{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .tab-content{
            padding: 25px 0px 40px 0px;
            p{
                font-size: 14px;
                color: #666666;
                font-family: $lato;
                line-height: 26px;
                letter-spacing: .35px;
            }
        }
    }
    .color_and_size{
        padding-top: 28px;
        .color_item{
            margin-bottom: 20px;
            h4{
                font-size: 14px;
                color: #000;
                font-family: $mon;
                text-transform: uppercase;
                padding-bottom: 20px;
                span{
                    color: #ff0000;
                }
                .c_right{
                    float: right;
                    text-transform: capitalize;
                    font-style: italic;
                }
            }
            .btn-group.bootstrap-select{
                width: 100% !important;
                border-radius: 0px;
                .dropdown-toggle{
                    border-radius: 0px;
                    height: 40px;
                    padding: 0px 20px;
                    border-color: #e5e5e5;
                    background: transparent;
                    box-shadow: none !important;
                    outline: none !important;
                    span{
                        font-size: 13px;
                        color: #999999;
                        font-family: $open;
                        font-style: italic;
                        letter-spacing: .325px;
                    }
                    .bs-caret{
                        &:before{
                            content: "\f107";
                            position: absolute;
                            right: 16px;
                            top: 49%;
                            transform: translateY(-50%);
                            font: normal normal normal 14px/1 FontAwesome;
                        }
                        .caret{
                            display: none;
                        }
                    }
                }
                .dropdown-menu{
                    padding: 0px;
                    margin: 0px;
                    .dropdown-menu.inner{
                        li{
                            a{
                                line-height: 40px;
                            }
                        }
                    }
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    .add_cart_btn{
        margin-top: 40px;
        .product_count{
            position: relative;
            display: inline-block;
            input{
                height: 50px;
                border: 1px solid #cccccc;
                border-radius: 25px;
                width: 170px;
                text-align: center;
                font-family: $open;
                font-weight: bold;
                color: #000;
                font-size: 16px;
                outline: none;
                box-shadow: none;
                @include placeholder{
                    font-family: $open;
                    font-weight: bold;
                    color: #000;
                    font-size: 16px;
                }
            }
            .reduced{
                padding: 0px;
                border: none;
                background: transparent;
                position: absolute;
                font-size: 20px;
                margin: 0px;
                outline: none !important;
                box-shadow: none !important;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: #cccccc;
                @include transition;
                font-weight: bold;
                &:hover{
                    color: #000;
                }
            }
            .increase{
                padding: 0px;
                border: none;
                background: transparent;
                position: absolute;
                font-size: 20px;
                margin: 0px;
                outline: none !important;
                box-shadow: none !important;
                right: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: #cccccc;
                @include transition;
                font-weight: bold;
                &:hover{
                    color: #000;
                }
            }
        }
        .cart_btn{
            line-height: 50px;
            background: #333333;
            text-align: center;
            text-transform: uppercase;
            padding: 0px 50px;
            display: inline-block;
            border-radius: 25px;
            color: #fff;
            font-size: 14px;
            font-family: $mon;
            margin-left: 26px;
            letter-spacing: .35px;
            @include transition;
            &:hover{
                background: #000;
            }
        }
        h5{
            text-transform: uppercase;
            font-family: $mon;
            font-size: 14px;
            color: #999999;
            padding: 50px 0px 25px 0px;
            span{
                color: #000000;
                padding-left: 7px;
            }
        }
        h6{
            text-transform: uppercase;
            font-family: $mon;
            font-size: 13px;
            color: #999999;
            display: inline-block;
        }
        ul{
            display: inline-block;
            li{
                display: inline-block;
                margin-left: 10px;
                a{
                    color: #000000;
                }
            }    
        }
        &.add_cart_btn2{
            .cart_btn{
                border-radius: 0px;
            }
            h5{
                padding: 38px 0px 22px 0px;
            }
        }
    }
    .color_and_size_two{
        .color_item{
            .btn-group.bootstrap-select{
                .dropdown-toggle{
                    background: #fff;
                    border-color: rgb(204, 204, 204);
                    border-radius: 13px;
                    height: 45px;
                }
            }
            h4{
                padding-bottom: 15px;
            }
        }
    }
}

.product_style_3{
    background: #f2f2f2;
    .product_d_text{
        padding-left: 100px;
    }
    .product_details_inner{
        .carousel_nav{
            a{
                background: #cccccc;
                color: #999999;
            }
        }
        .carousel.slide{
            position: relative;
            min-height: 690px;
//            new css
            .carousel-indicators{
                right: auto;
                left: 50%;
                width: 100%;
                bottom: 0px;
                max-width: 360px;
                margin-left: 0px;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                top: auto;
                margin-top: 0px;
                li{
                    margin-bottom: 0px;
                    width: calc(100% / 4);
                    height: auto;
                    border: none;
                    float: left;
                    
                    margin: 0px;
                    padding: 0px 6px;
                    img{
                        border: 3px solid #fff;
                        border-radius: 5px;
                    }
                }
            } 
            .carousel-inner{
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
            }
        }
    }    
}
.available_stock{
    .in_stock{
        padding: 25px 0px 16px 0px;
        .bootstrap-select{
            width: 125px !important;
            display: inline-block;
            margin-right: 55px;
            .dropdown-toggle{
                padding: 0px;
                border: none;
                background: transparent;
                padding-left: 25px;
                outline: none !important;
                box-shadow: none !important;
                span{
                    font-size: 14px;
                    font-family: $lato;
                    color: #000000;
                    letter-spacing: .35px;
                }
                .filter-option{
                    position: relative;
                    overflow: visible;
                    &:before{
                        content: "\f1c0";
                        position: absolute;
                        left: -24px;
                        top: 50%;
                        transform: translateY(-50%);
                        font: normal normal normal 14px/1 FontAwesome;
                    }
                }
                .bs-caret{
                    position: relative;
                    &:before{
                        content: "\f107";
                        position: absolute;
                        right: -5px;
                        top: 50%;
                        transform: translateY(-50%);
                        font: normal normal normal 14px/1 FontAwesome;
                    }
                    .caret{
                        display: none;
                    }
                }
            }
        }
        h4{
            display: inline-block;
            font-size: 14px;
            color: #000;
            font-family: $lato;
            letter-spacing: .35px;
            position: relative;
            &:before{
                content: "|";
                position: absolute;
                left: -26px;
                top: 48%;
                transform: translateY(-50%);
            }
            a{
                color: #99cc00;
            }
        }
    }
    p{
        font-size: 13px;
        line-height: 24px;
        color: $pfont;
        font-family: $lato;
        letter-spacing: .325px;
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        padding: 25px 0px;
    } 
    &.available_stock_2{
        p{
            padding: 40px 0px 0px 0px;
            border: none;
            font-size: 15px;
            & + p{
                padding: 0px;
                padding-bottom: 30px;
            }
        }
    }
}

/* End Product Details Area css
======================================================================*/

/* Product Description Area css
======================================================================*/
.product_description{
    padding-bottom: 60px;
    .product_desc{
        text-align: center;
        h4{
            font-size: 18px;
            font-family: $mon;
            font-weight: bold;
            color: #000000;
            letter-spacing: .45px;
            text-transform: uppercase;
            padding-bottom: 40px;
        }
        p{
            font-size: 14px;
            color: $pfont;
            font-family: $lato;
            line-height: 24px;
            letter-spacing: .35px;
            max-width: 835px;
            margin: auto;
        }
    }
}


.product_description_tab{
    padding: 120px 0px 100px 0px;
    .tab-content{
        
    }
}
.p_des_2{
    padding: 0px 0px 80px 0px;
    .product_desc_tab{
        .nav.nav-tabs{
            padding-left: 0px;
            padding-bottom: 40px;
            &:before{
                display: none;
            }
            li{
                float: left;
                margin-right: 30px;
                a{
                    position: relative;
                    &:before{
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: #000000;
                        bottom: 0px;
                        left: 0px;
                        top: auto;
                    }
                } 
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}
.tab_desc{
    p{
        font-size: 15px;
        line-height: 24px;
        color: $pfont;
        font-family: $lato;
        letter-spacing: .375px;
        padding-bottom: 6px;
    }
    ul{
        li{
            a{
                font-size: 13px;
                line-height: 33px;
                color: $pfont;
                font-family: $lato;
                letter-spacing: .325px;
                @include transition;
                position: relative;
                padding-left: 15px;
                display: inline-block;
                span{
                    padding-right: 12px;
                    position: absolute;
                    top: 3px;
                    left: 0px;
                    @include transition;
                }
            } 
            &:hover{
                a{
                    color: #000;
                    padding-left: 20px;
                }
            }
        }    
    }    
}
.product_desc_tab{
    .nav.nav-tabs{
        border: none;
        position: relative;
        padding-bottom: 90px;
        padding-left: 30px;
        &:before{
            content: "";
            height: 100%;
            width: 1px;
            background: #cccccc;
            position: absolute;
            left: 0px;
            top: 10px;
            display: block;
        }
        li{
            float: none;
            display: block;
            a{
                padding: 0px;
                border: none;
                background: transparent;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $mon;
                font-weight: bold;
                color: #cccccc;
                line-height: 45px;
                position: relative;
                @include transition;
                &:before{
                    content: "";
                    height: 100%;
                    width: 2px;
                    background: #000000;
                    position: absolute;
                    left: -31px;
                    top: 10px;
                    opacity: 0;
                    @include transition;
                }
            }
            &.active{
                a{
                    color: #000;
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.product_flex_slider{
    #slider_p{
        padding: 0px;
        margin: 0px;
        .slides{
            li{
                &:before{
                    display: none;
                }
            }
        }
    }
    #carousel_p{
        position: relative;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
        .slides{
            li{
                &:before{
                    display: none;
                }
            }
        }
        .custom-navigation{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            z-index: 20;
            width: 100%;
            a{
                height: 29px;
                width: 29px;
                background: rgba(0, 0, 0, .35);
                text-align: center;
                line-height: 29px;
                color: #e5e5e5;
                display: inline-block;
                @include transition;
                &:hover{
                    background: rgba(0, 0, 0, .7);
                    color: #e5e5e5;
                }
            }
            .flex-next{
                float: right;
            }    
        }    
    }
}

/* End Product Description Area css
======================================================================*/

/* Start shop_product_area
==================================================================*/

.shop_product_area{
    padding: 110px 0px 60px;
}
.shop-tab{
    display: flex;
    background: #f5f5f5;
    padding: 11px 20px 5px 25px;
    border-radius: 10px;
    margin-bottom: 45px;
    .tab-bar{
        border: 0px;
        li{
            margin: 0px;
            display: inline-block;
            float: none;
            a{
                padding: 0px;
                border: 0px;
                display: inline-block;
                border-radius: 0px;
                font-size: 20px;
                line-height: 38px;
                color: #38424c;
                background: transparent;
                &:focus{
                    background: transparent;
                }
            }
            &.active{
                a{
                    border: 0px;
                    color: #d6dbe1;
                }
                
            }
            & + li{
                margin-left: 12px;
            }
        }
    }
    .shop-product-list{
        flex: 1;
        text-align: center;
        .popularity-option{
            width: 160px !important;
            left: 0;
            .dropdown-toggle{
                border: 1px solid #e3e3e3;
                border-radius: 22px;
                background:#fff;
                font-size: 14px;
                line-height: 18px;
                color: #7e7e7e;
                font-family: $lato;
                padding: 9px 22px;
                position: relative;
                &:focus{
                    outline: none !important;
                    box-shadow: none;
                }
                .caret{
                    border: 0px;
                    top: 0;
                    &:before{
                        content: "\f107";
                        font-family: FontAwesome;
                        line-height: 38px;
                        font-size: 18px;
                        position: absolute;
                        top: 0;
                        right: 10px;
                        color: #7e7e7e;
                    }
                }
            }
            &.pr-view{
                width: 126px !important;
                margin-left: 15px;
            }
        }
    }
    .pagination{
        margin: 0px;
        li{
            a{
                border-radius: 0px;
                border: 0px;
                font: 400 14px/24px $open;
                color: #7e7e7e;
                background: transparent;
                &:hover{
                    background: transparent;
                }
            }
            &:nth-child(2){
                a{
                    border: 1px solid #e3e3e3;
                    border-radius: 22px;
                    background: #fff;
                    padding: 6px 20px;
                }
            }
        }
    }
}
.tab-content{
    .product_item{
        margin-bottom: 50px;
    }
}



.latest_pr_widget{
    
}
.latest_pr_list{
    padding-bottom: 15px;
    position: relative;
    margin-top: 0px;
    &:before{
        content: "";
        width: 84%;
        left: 50%;
        bottom: 0;
        position: absolute;
        transform: translateX(-50%);
        height: 1px;
        background: #eaeaea;
    }
    .media-left{
        padding-right: 20px;  
    }
    .media-body{
        vertical-align: middle;
        h2{
            font:400 14px/20px $lato;
            letter-spacing: -0.14px;
            color: #333e48;
            transition: all 0.3s linear;
        }
        .rate{
            font: 700 15px/18px $open;
            color: #333e48;
            letter-spacing: -0.15px;
            display: block;
            padding-top: 5px;
        }
        del{
            .rate{
                font-size: 11px;
                color: #848484;
                padding-top: 0px;
            }
        }
    }
    & + .latest_pr_list{
        margin-top: 15px;
    }
    &:last-child{
        padding-bottom: 0px;
        &:before{
            display: none;
        }
    }
    &:hover{
        h2{
            color: #f4b900;
        }
    }
}

.pr_post_list{
    li{
        position: relative;
        margin-bottom: 5px;
        input[type=checkbox] {
            visibility: hidden;
            margin: 0px;
            &:checked + label:after{
                opacity: 0;
            } 
        }
        .check{
            width: 15px;
            height: 15px;
            border: 1px solid #dfdfdf;
            border-radius: 3px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            margin-bottom: 0px;
            opacity: 1;
            &:after{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background:#2896df;
                opacity: 1;
                border-color: #2896df;
                border-radius: 3px;
            }
        }
        .text{
            font: 400 14px/18px $lato;
            color: #333e48;
            vertical-align: middle;
            padding-left: 15px;
            span{
                color: #2896df;
                padding-left: 4px;
            }
        }
    }
}

.pr_filter_widget{
    .show_btn{
        margin-left: 0px;
        margin-top: 25px;
    }
}
.filter_slider_area{
    h4{
        font-size: 14px;
        color: #575560;
        font-weight: 700;
    }
    #slider-range {
        border: none;
        border-radius: 0px;
        height: 2px;
        background: #cacaca;
        cursor: pointer;
        margin: 25px 0px;
        .ui-slider-range{
            height: 6px;
            background: #dcdcdc;
        }
        .ui-slider-handle{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #2896df;
            margin-left: 0px;
            & + .ui-slider-handle{
                &:after{
                    width: 10px;
                    height: 10px;
                    content: "";
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -5px;
                    margin-top: -5px;
                }
            }
            &:focus{
                border: 0px;
                outline: none;
            }
        }
    }
    .filter_content{
        font: 400 14px/18px $lato;
        color: #686868;
        input{
            border: 0px;
        }
    }
} 
/* End shop_product_area
==================================================================*/