/*completed_project_area css
================================================*/
.completed_project_area{
    background: #111;
    padding: 47px 0px;
    .content{
        padding-top: 8px;
        h2{
            font: 400 30px/35px $mon;
            color: #fff;
            span{
                font-weight: 600;
            }
        }
        p{
            font: 400 16px/24px $crim;
            color: #7d7d7d;
            font-style: italic;
            padding-top: 20px;
        }
    }
}
.c_project_slider{
    .item{
        img{
            border-radius: 3px;
        }
    }
    .owl-dots{
        position: absolute;
        bottom: 14px;
        text-align: center;
        width: 100%;
        .owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #515151;
            display: inline-block;
            margin: 0px 4px;
            &.active{
                background: #fcd846;
            }
        }
        
    }
}
.c_map{
    position: relative;
    .counter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font: 400 48px $mon;
        color: #fff;
    }
}

/* Recent Studies Area css
============================================================================================ */
.recent_studies_area{
    padding: 115px 0px;
    .recent_p_title{
        text-align: center;
        padding-bottom: 55px;
        h2{
            
        }
    }
    .all_studies_btn{
        text-align: center;
        display: block;
        margin-top: 60px;
    }
}
.recent_studies_inner{
    .rec_studies_item{
        background: #f7f9f9;
        padding: 23px 30px 33px 30px;
        position: relative;
        z-index: 2;
        &:before{
            content: "";
            background: #dbdbdb;
            position: absolute;
            left: 0px;
            width: 100%;
            top: 0px;
            height: 124px;
            z-index: -1;
        }
        .rec_studies_img{
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        .rec_studies_text{
            padding: 40px 30px 0px 17px;
            h4{
                font-size: 22px;
                color: #2f2c2c;
                font-family: $mon;
            }
            p{
                font-size: 16px;
                font-family: $lato;
                color: #2f2c2c;
                line-height: 20px;
                letter-spacing: .64px;
                padding: 10px 0px 20px 0px;
            }
            .studies_read{
                background: #ebebeb;
                display: inline-block;
                padding: 0px 15px;
                line-height: 30px;
                font-size: 12px;
                letter-spacing: .24px;
                font-family: $mon;
                color: #2f2c2c;
                border-radius: 12px;
                @include transition;
                &:hover{
                    background: #27ae61;
                    color: #fff;
                }
            }
        }
    }
}
/* End Recent Studies Area css
============================================================================================ */

/* Start Recent_studies_area_two
=============================================================*/

.recent_studies_area_two{
    padding: 125px 0px 60px;
    .rec_studies_item{
        margin-bottom: 40px;
    }
}
/* End Recent_studies_area_two
=============================================================*/

/*simple-ads-area css
===========================================*/
.simple_inner{
    .company_about_inner{
        text-align: center;
        &:before{
            background: #16171b;
            opacity: 0.78;
        }
        .content{
            padding: 0px 10px;
            p{
                padding: 18px 0px 27px;
            }
        }
        .popup-img{
            background: #3b55e6;
            &:hover{
                background: #3049d7;
            }
        }
    }
}

/*gradition_area_two css 
===========================================*/
.gradition_area_two{
    padding-bottom: 80px;
    .mackup-img{
        img{
            max-width: 100%;
        }
    }
    .gradition_item{
        .round{
            &:before{
                background: url("../img/startup/round.png") no-repeat scroll center
            }
            &.round2{
                &:before{
                    background: url("../img/startup/round2.png") no-repeat scroll center
                }
            } 
            .number{
                background: #3b55e6;
                color: #fff;
            }
        }
    }
}

/*creative-area-two css 
====================================*/
.creative-area-two{
    padding-bottom: 120px;
    .creative_content{
        text-align: center;
        display: block;
        padding-top: 110px;
        .title{
            padding-bottom: 80px;
        }
    }
}
.analytics-progressbar{
    float: left;
    width: calc(100% / 3);
    .circle{
        position: relative;
        .icon{
            position: absolute;
            top: -5px;
            left: 32%;
            transform: translateX(-50%);
        }
    }
    .text{
        position: absolute;
        color: #2b2b2b;
        font-weight: 700;
        font-family: $mon;
        font-size:25px;
        letter-spacing: -0.40px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        span{
            font-size: 35px;
        }
    }
    h3{
        font: 700 15px/25px $mon;
        color: #2b2b2b;
        letter-spacing: -0.20px;
        margin-top: 10px;
    }
    h5{
        font: 400 13px/20px $open;
        color: #b5b5b5;
    }
}