/* Expert Team Area css
============================================================================================ */
.expert_team_area{
    padding: 100px 0px;
    .main_title{
        padding-bottom: 45px;
    }
}
.expert_team_inner{
    
}
.expert_team_item{
    text-align: center;
    .e_team_image{
        position: relative;
        z-index: 3;
        overflow: hidden;
        &:before{
            content: "";
            background: rgba(0, 126, 250, .74);
            position: absolute;
            left: auto;
            right: 0px;
            top: 0px;
            width: 0%;
            height: 100%;
            z-index: 1;
            transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
        }
        img{
            max-width: 100%;
        }
        ul{
            position: absolute;
            left: 0px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            text-align: center;
            overflow: hidden;
            padding-top: 1px;
            li{
                display: inline-block;
                a{
                    font-size: 18px;
                    height: 31px;
                    width: 31px;
                    background: transparent;
                    color: #fff;
                    display: block;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 30px;
                    position: relative;
                    bottom: -20px;
                    opacity: 0;
                    transition: all 250ms linear;
                }
                &:nth-child(2){
                    a{
                        transition: all 350ms linear;
                    }
                }
                &:nth-child(3){
                    a{
                        transition: all 450ms linear;
                    }
                }
                &:last-child{
                    a{
                        transition: all 550ms linear;
                    }
                }
                &:hover{
                    a{
                        background: #fff;
                        color: $baseColor;
                    }
                }    
            }
        }
    }
    h4{
        font-size: 15px;
        color: #282828;
        font-family: $mon;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        padding: 24px 0px 10px 0px;
    }
    h5{
        font-size: 14px;
        color: #6f6f6f;
        font-family: $camb;
    }
    &:hover{
        .e_team_image{
            &:before{
                width: 100%;
                right: auto;
                left: 0px;
            }
            ul{
                li{
                    a{
                        bottom: 0px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* End Expert Team Area css
============================================================================================ */

/*team_area_r
=============================================*/
.team_area_r{
    position: relative;
    padding: 110px 0px;
    overflow: hidden;
    &:before{
        content: "";
        width: 100%;
        position: absolute;
        height: 100%;
        top: 50px;
        z-index: -1;
        background: url(../img/agency/text-bg1.png) center center no-repeat scroll; 
    }
}
.team_text_slider{
    .item{
        h6{
            font: 700 15px/40px $mon;
            letter-spacing: 4.5px;
            color: #343434;
            span{
                color: #0081ff;
            }
        }
        h2{
            font: 700 34px/38px $mon;
            letter-spacing: -0.68px;
            color: #343434;
        }
        p{
            font-size: 16px;
            line-height: 27px;
            color: #666;
            margin: 15px 0px 60px;
        }
        .progress-content{
            h3{
                font: 700 14px/25px $mon;
                color: #2f2933;
            }
            .progress{
                height: 20px;
                border-radius: 25px;
                background: #f3f3f3;
                margin-bottom: 24px;
                padding: 2px;
                .progress-bar{
                    border-radius: 25px;
                }
            }
        }
    }
    .owl-dots{
        margin-top: 30px;
        .owl-dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #eaeaea;
            display: inline-block;
            margin-right: 7px;
            &.active{
                background: #00abc9;
            }
        }
    }
}

/*creative_team_area css
==============================================================*/
.digital-progress{
    .progress{
        .progress-bar{
            background-image: -moz-linear-gradient( 180deg, rgb(255,67,75) 0%, rgb(255,167,35) 100%) !important;
            background-image: -webkit-linear-gradient( 180deg, rgb(255,67,75) 0%, rgb(255,167,35) 100%) !important;
            background-image: -ms-linear-gradient( 180deg, rgb(255,67,75) 0%, rgb(255,167,35) 100%) !important;
            opacity: 0.761;
            box-shadow: 0px 16px 51px 0px rgba(0, 0, 0, 0.29);
        }
    }
    
}

.creative_team_area{
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:before{
        content: "";
        background: url("../img/digital-agency/title-text.png") no-repeat center center;
        position: absolute;
        left: 0;
        top: 25px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .section_title{
        margin-bottom: 60px;
    }
    .sec-br{
        border-top:1px solid #e5e5e5;
        padding-top: 100px;
    }
}

.ex_team_slider{
    padding-right: 100px;
    border-radius: 20px;
    .rev_slider{
        overflow: visible !important;
        ul{
            overflow: visible !important;
            border-radius: 20px;
            li{
                overflow: visible !important;
            }
        }
        .social_icon{
            background: #fff;
            padding: 10px 23px 10px 27px;
            li{
                display: inline-block;
                a{
                    font-size: 22px;
                    color: #666666;
                }
            }
        }
    }
    .metis {
        .tp-bullet{
            width: 100px;
            height: 100px;
            border: 3px solid transparent;
            background: transparent;
            padding: 0px;
            .tp-bullet-image{
                width: 100%;
                height: 100%;
                box-shadow: none;
            }
            &.selected{
                border-color: #00abc9;
            }
            &:hover{
                .tp-bullet-title {
                    display: none;
                }
            }
        }
    }
}

/*creative_area css
===========================================================================*/
.creative_area{
    overflow: hidden;
    .display_f{
        display: flex;
    }
    .creative_left,.creative_right{
        width: 50%;
        float: left;
        img{
            width: 100%;
            display: inline-block;
        }
    }
    .creative_content{
        text-align: center;
        flex: 1;
        align-self: center;
        padding: 0px 75px 0px 50px;
        p{
            font: 400 16px/27px $lato;
            color: #666666;
            letter-spacing: 0.32px;
            padding: 32px 0px;
        }
    }
}

/*profession_service_area
=========================================================================*/
.profession_service_area{
    padding: 95px 0px 160px;
}
.pro_service{
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 1, 0.17);
    overflow: hidden;
    .pro_s_item{
        padding: 50px 62px 42px;
        h2{
            font: 700 20px $mon;
            letter-spacing: -0.60px;
            color: #101010;
            position: relative;
            padding-left: 50px;
            margin-bottom: 13px;
            i{
                font-size: 40px;
                color: #3498db;
                position: absolute;
                left: 0;
                
            }
        }
        p{
            font: 400 15px/24px $lato;
            color: #6c6c6c;
            font-style: italic;
        }
        a{
            font: 700 13px/24px $mon;
            color: #6c6c6c;
            margin-top: 15px;
            display: block;
            @include transition;
            &:hover{
                color: #3498db;
            }
            span{
                padding-left: 15px;
            }
        }
        & + .pro_s_item{
            border-left: 1px solid #ececec;
        }
    }
}
/*freelance_service_area css
======================================================*/
.freelance_service_area{
    padding-top: 122px;
    .pro_service{
        .pro_s_item{
            h2{
                i{
                    color: #f42267;
                }
            }
            a{
                &:hover{
                    color: #f42267;
                }
            }
        }
    }
}
/* Business Service Area css
============================================================================================ */
.business_service_area{
    padding-bottom: 50px;
    .pro_service{
        margin-top: -48px;
        z-index: 25;
        position: relative;
        h2{
            i{
                color: #3a53de;
                font-size: 40px;
            }
        }
        a{
            &:hover{
                color: #3a53de;
            }
        }
    }
}

/* End Business Service Area css
============================================================================================ */

/*team_area_company css 
==================================================*/
.team_area_company{
    padding: 80px 0px 150px;
    .main_title_two{
        margin-bottom: 90px;
    }
    .single_team{
        background: #f2f2f2;
        display: inline-block;
        .profile_img{
            img{
                max-width: 100%;
                border-radius: 8px;
                position: relative;
                margin-top: -27px;
            }
            ul{
                text-align: center;
                padding: 15px 0px;
                li{
                    display: inline-block;
                    a{
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                        font-size: 13px;
                        line-height: 33px;
                        color: #fff;
                        display: inline-block;
                        background: #3b5998;
                        transition: all 0.4s linear;
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                    &:nth-child(2){
                        a{
                            background: #d34836;
                        }
                    }
                    &:nth-child(3){
                        a{
                            background: #0084b4;
                        }
                    }
                    &:nth-child(4){
                        a{
                            background: #0077b5;
                        }
                    }
                }
            }
        }
        .profile_content{
            width: 55%;
            padding: 40px 29px 0px 40px;
            h6{
                font: 400 15px/20px $crim;
                color: #787878;
                padding-bottom: 7px;   
            }
            h2{
                font: 700 22px/24px $mon;
                color: #474747;
                padding-bottom: 10px;
            }
            p{
                font: 400 15px/24px $lato;
                color: #4d4d4d;
                letter-spacing: 0.30px;
                padding-bottom: 18px;
            }
            a{
                font-size: 20px;
                color: #f42267;
                line-height: 25px;
                transition: all 0.2s linear;
                &:hover{
                    margin-left: 10px;
                }
            }
        }
    }
    &.ab_team_company{
        padding-top: 100px;
        .main_title{
            position: relative;
            padding-bottom: 18px;
            margin-bottom: 80px;
            &:before{
                content: "";
                width: 52px;
                height: 4px;
                background: #2896df;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0px;
                position: absolute;
            }
        }
    }
}



/*team_contact_area css
========================================================================================*/
.team_contact_area{
    background: url("../img/construction/team-bg.jpg") no-repeat scroll center 0;
    background-size: cover;
    padding: 62px 0px;
    .team_inner{
        max-width: 890px;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.52);
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        .team_list{
            width: calc(50% - 10px);
            float: left;
            .team_img{
                width: calc(100% / 2);
                float: left;
            }
        }
        .cons_contact{
            width: calc(50% + 10px);
            float: right;
            flex: 1;
            vertical-align: middle;
            align-self: center;
            padding-left: 40px;
            padding-right: 50px;
            .cons_title{
                text-align: left;
            }
            .team_contact{
                .form-group{
                    position: relative;
                    label{
                        position: relative;
                    }
                    &:last-child{
                        label{
                            position: absolute;
                        }
                    }
                    .form-control{
                        height: 38px;
                        border-radius: 40px;
                        background: #f1f1f1;
                        border: 0px;
                        box-shadow: none;
                        font: 400 12px/30px $lato;
                        color: #838282;
                        padding-left: 20px;
                        @include placeholder{
                            color: #838282;
                        }
                    } 
                    textarea{
                        &.form-control{
                            height: 118px;
                            resize: none;
                            border-radius: 20px;
                        }
                    }
                    .submit_btn{
                        position: absolute;
                        bottom: 6px;
                        right: 6px;
                        font-size: 10px;
                        line-height: 30px;
                        color: #141414;
                        text-transform: uppercase;
                        letter-spacing: 0.50px;
                        width: auto;
                        height: auto;
                        padding: 0px 35px;
                        background: #dfa617;
                        font-weight: 700;
                        &:before{
                            background: #fcc814;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            .social_btn{
                text-align: center;
                margin-top: 45px;
                a{
                    font:500 10px/35px $mon;
                    color: #fff;
                    background: #2c488b;
                    width: 105px;
                    height: 35px;
                    display: inline-block;
                    border-radius: 40px;
                    text-align: center;
                    transition: all 400ms linear 0s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    &:before{
                        content: "";
                        height: 100%;
                        width: 105%;
                        display: block;
                        position: absolute;
                        z-index: -1;
                        left: -1%;
                        right: auto;
                        border-radius: 30px;
                        background: #3c599f;
                        -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
                        -o-transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
                        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
                    }
                    i{
                        padding-right: 5px;
                    }
                    & + a{
                        margin-left: 15px;
                    }
                    &:hover{
                        &:before{
                            left: auto;
                            right: 0%;
                            width: 0%;
                        }
                    }
                }
                .social_btn2{
                    background: #28b7e5;
                    &:before{
                        background: #32ccfe;
                    }
                }
                .social_btn3{
                    background: #ce412f;
                    &:before{
                        background: #dd4c39;
                    }
                }
            }
            #success,#error{
                color: #242424;
            }
        }
    }
}

/* Professional Team Area css
========================================================================================*/
.pro_team_area{
    padding: 100px 0px 80px 0px;
}
.pro_team_inner{
    
}
.pro_team_item{
    text-align: center;
    .pro_team_img{
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
        }
        &:before{
            content: "";
            background: rgba(0, 126, 250, 0.74);
            position: absolute;
            left: auto;
            right: 0px;
            top: 0px;
            width: 0%;
            height: 100%;
            z-index: 1;
            @include transition;
        }
    }
    h4{
        font-size: 20px;
        color: #0a0a0a;
        font-family: $mon;
        letter-spacing: .6px;
        font-weight: 800;
        padding: 30px 0px 8px 0px;
    }
    h5{
        font-size: 13px;
        color: #0a0a0a;
        font-family: $crim;
        font-style: italic;
        letter-spacing: 1.3px;
        padding-bottom: 15px;
    }
    ul{
        li{
            display: inline-block;
            margin-right: 18px;
            &:last-child{
                margin-right: 0px;
            }
            a{
                font-size: 12px;
                color: #181818;
                @include transition;
            }
            &:hover{
                a{
                    color: $baseColor;
                }
            }    
        }
    }
    &:hover{
        .pro_team_img{
            &:before{
                width: 100%;
                right: auto;
                left: 0px;
            }
        }
    }
}
/* End Professional Team Area css
========================================================================================*/

/* Start lp-team-area css
==================================================================*/

.lp-team-area{
    padding:100px 0px 140px;
    .pro_team_inner{
        .pro_team_item{
            margin-top: 42px;
        }
    }
}

/* End lp-team-area css
==================================================================*/

/* Start lp-team-area css
==================================================================*/
.lp-team-area-two{
    padding: 108px 0px 135px;
    .single_team{
        margin-top: 60px;
    }
}
/* End lp-team-area css
==================================================================*/

/* Start lp_team_area_three css
==================================================================*/
.lp_team_area_three{
    padding: 110px 0px 135px;
    .expert_team_inner{
        .expert_team_item{
            margin-top: 30px;
        }
    }
}
/* End lp_team_area_three css
==================================================================*/


/*cor_agency_team css 
============================================================*/
.cor_agency_team {
    padding-bottom: 110px;
}

/* Trainer Area css
========================================================================================*/
.gym_trainers_area{
    padding: 115px 120px 100px 120px;
    overflow: hidden;
    &.about_gym_trainers{
        padding: 0px 120px 100px 120px;
    }    
}
.gym_trainers_inner{
    display: flex;
    .gym_trainers_item{
        text-align: center;
        width: calc(100% / 4);
        float: left;
        overflow: hidden;
        z-index: 3;
        .gym_trainer_img{
            position: relative;
            &:before{
                content: "";
                background: rgba(0, 0, 0, .80);
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                transition: all 250ms linear;
            }
            img{
                width: 100%;
            }
            ul{
                position: absolute;
                left: 0px;
                width: 100%;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                overflow: hidden;
                li{
                    display: inline-block;
                    margin-right: 14px;
                    a{
                        color: #3b5998;
                        font-size: 18px;
                        position: relative;
                        bottom: -22px;
                        opacity: 0;
                        transition: all 300ms linear;
                    }
                    &:nth-child(2){
                        a{
                            color: #55acee;
                            transition: all 350ms linear;
                        }
                    }
                    &:nth-child(3){
                        a{
                            color: #ea4234;
                            transition: all 400ms linear;
                        }
                    }
                    &:last-child{
                        margin-right: 0px;
                        a{
                            color: #e02f2f;
                            transition: all 450ms linear;
                        }
                    }
                }
            }
            h5{
                font-size: 12.54px;
                color: #888888;
                font-family: $camb;
                position: absolute;
                left: 0px;
                width: 100%;
                text-align: center;
                top: 65%;
                transform: translateY(-50%);
                z-index: 1;
                opacity: 0;
                @include transition;
            }
        }
        h4{
            font-size: 18px;
            color: #272626;
            font-weight: bold;
            font-family: $mon;
            padding-top: 22px;
        }
        &:hover{
            .gym_trainer_img{
                &:before{
                    opacity: 1;
                }
                ul{
                    li{
                        a{
                            bottom: 0px;
                            opacity: 1;
                        }
                    }    
                }
                h5{
                    opacity: 1;
                    top: 60%;
                }
            }
        }
    }
}
/* End Trainer Area css
========================================================================================*/

/* Client Says Slider Area css
========================================================================================*/
.client_says_area{
    background: url(../img/user/client/client-say-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    padding: 115px 0px;
    .client_title{
        text-align: center;
        font-size: 36px;
        color: #111111;
        font-family: $mon;
        font-weight: 900;
        padding-bottom: 20px;
    } 
    &.yellow_client_say{
        background: #fecb16;
        padding-top: 0px;
        margin-top: 125px;
        padding-bottom: 60px;
        .client_title{
            margin-top: -126px;
        }
        .client_says_slider{
            .rev_slider{
                .tp-leftarrow{
                    top: 70% !important;
                }
                .tp-rightarrow{
                    top: 70% !important;
                }
            }
        }
    } 
    &.client_says_white{
        background: #fff;
        padding: 115px 0px 70px;
        .client_title{
            padding-bottom: 10px;
        }
        h6{
            text-align: center;
            font-size: 14.88px;
            font-family: $camb;
            color: #888888;
            padding-bottom: 20px;
        }
    }
    &.ab_client_says{
        background: url(../img/ab-client-slider-bg.png) no-repeat scroll center center;
        background-size: cover;
        padding-top: 0px;
        .ab_client_title{
            padding-bottom: 30px;
            h5{
                text-align: center;
                font-size: 14.88px;
                font-family: $camb;
                color: #888888;
            }
        }
    }
}
.client_says_slider{
    #client_says_slider{
        ul{
            li{
                .slider_text_box{
                    .client_first_text{
                        .client_says_text{
                            text-align: center;
                            img{
                                
                            }
                            p{
                                font-family: $crim;
                                font-size: 28px;
                                color: #111111;
                                line-height: 38px;
                                font-style: italic;
                                padding-top: 15px;
                                padding-bottom: 25px;
                            }
                            h4{
                                font-size: 18px;
                                color: #212121;
                                font-family: $mon;
                                font-weight: bold;
                                padding-bottom: 8px;
                            }
                            h5{
                                font-size: 16px;
                                font-family: $crim;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
        .tp-leftarrow, .tp-rightarrow{
            height: 82px;
            width: 82px;
            border-radius: 50%;
            border: 6px solid #fff;
            background: #fff;
            &:before{
                display: none;
            }
            .tp-title-wrap{
                transform: scale(1);
                background: #fff;
                opacity: 1;
                .tp-arr-imgholder{
                    transform: translateX(0%);
                }
            }
        }
    }
}
/* End Client Says Slider Area css
========================================================================================*/

/* Seo Team Area css
========================================================================================*/
.seo_team_area{
    background: url(../img/seo-team-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 3;
    padding: 100px 0px 90px 0px;
    &:before{
        content: "";
        background: rgba(22, 22, 22, .95);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .recent_w_title{
        padding-bottom: 55px;
    }
    .what_we_content{
        margin-top: 50px;
        .what_we_right{
            padding: 0px 35px;
            .w_skill_item{
                h3{
                    color: #fff;
                    font-size: 14px;
                    font-family: $mon;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: inline-block;
                    span{
                        float: right;
                    }
                }
                h4{
                    color: #fff;
                    font-size: 14px;
                    font-family: $mon;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: inline-block;
                    float: right;
                    position: relative;
                    top: 5px;
                }
                .progress{
                    height: 12px;
                    padding: 0px;
                    background: #4b4d4e;
                    .progress-bar{
                        background: #27ae61;
                    }
                }
            }
        }
    }
}
.seo_team_members{
    overflow: hidden;
    clear: both;
    margin-left: -3px;
    margin-right: -3px;
    .seo_team_item{
        width: calc(100% / 5);
        float: left;
        overflow: hidden;
        padding: 3px;
        img{
            max-width: 100%;
            width: 100%;
        } 
    }
}

/* End Seo Team Area css
========================================================================================*/

/*action-block-area css
==============================================================*/
.action-block-area{
    margin-top: -110px;
    position: relative;
    z-index: 25;
}
.block-left{
    display: flex;
    flex-wrap: wrap;
    .block-item{
        width: calc(50% + 11px);
        background: #2d2d2d;
        padding: 0px 46px;
    }
    .block-item2{
        width: calc(50% - 11px);
        background: #3c3b3b;
    }
    .block-subscribe-info{ 
        float: left;
        color: #fff;
        text-align: center;
        flex: 0 0 auto;
        display: flex;
        .content{
            flex: 1;
            align-self: center;
            vertical-align: middle;
        }
        i{
            font-size: 25px;
        }
        h2{
            font: 700 25px/50px $mon;
        }
        p{
            font-size: 16px;
            padding: 12px 18px 28px;
        }
        .subscribe_form{
            position: relative;
            width: 100%;
            .form-control{
                border: 2px solid #3c3c3c;
                background: transparent;
                height: 45px;
                border-radius: 22px;
                padding: 0px 20px;
                font: 400 12px/22px $lato;
                color: #ffffff;
            }
            .btn-default{
                background: transparent;
                padding: 0px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                color: #ffffff;
                border: 0px;
                i{
                    font-size: 16px;
                }
                
            }
        }
    } 
}
.block-right{
    background: #29af8a;
    .donate{
        color: #fff;
        padding: 38px 25px 38px 60px;
        h2{
            font: 600 25px/26px $mon;
            letter-spacing: -0.5px;
            color: #fff;
        }
        p{
            font: 400 14px/26px $lato;
            padding: 10px 0px 20px 0px;
        }
        h4{
            font: 700 20px $mon;
            span{
                font-size: 14px;
            }
        }
        .progress-two{
            border:2px solid rgba(0, 0, 0, 0.08);
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.039);
            box-shadow: none;
            overflow: visible;
            margin: 24px 0px;
            height: 20px;
            .progress-bar{
                background-color: rgb(236, 28, 51);
            }
            &.progress-striped{
                .progress-bar{
                    background-image:linear-gradient(-45deg,rgba(0,0,0,0.05) 25%,transparent 25%,transparent 50%,rgba(0,0,0,0.05) 50%,rgba(0,0,0,0.05) 75%,transparent 75%,transparent);
                    background-size: 14px 14px;
                    border-radius: 22px;
                    box-shadow: none;
                    position: relative;
                    animation: progress-bar-stripes 2s linear infinite;
                    .progress-arrow{
                        position: absolute;
                        top: -24px;
                        right: 0;
                    }
                }
            }
        }
    }
}
.donation-goal{
    overflow: hidden;
    .d-amount{
        float: left;
        display: inline-block;
        font-family: $mon;
        h6{
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }
        h3{
            font-size: 35px;
            line-height: 43px;
        }
    }
    .charity-btn{
        float: right;
        margin-top: 10px;
    }
}



/*progress-bar-stripes keyframes
====================================================*/
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}
