/*testimonial_area 
====================================================*/
.testimonial_area{
    overflow: hidden;
    padding-top: 120px;
    .testimonial_left{
        width: calc(50% + 116px);
        float: left;
        padding-top: 80px;
    }
    .testimonial_right{
        width: calc(50% - 116px);
        float: right;
        padding-right: 50px;
        @media (min-width:1700px){
            padding-right: 0px;
        }
        img{
            max-width: 100%;
            @media (min-width:1700px){
                max-width: inherit;
            }
        }
    }
}
.testimonial_contents{
    max-width: 740px;
    margin-left: auto;
    margin-right: 0px;
    h2{
        font: 700 35px/35px $mon;
        color: #000;
        padding-bottom: 20px;
    }
    .table{
        margin-top: 22px;
        tr{
            border-bottom: 1px solid #dfdfdf;
            td{
                border: 0px;
                font-size: 14px;
                line-height: 43px;
                color: #666666;
                i{
                    color: #00abc9;
                    padding-right: 15px;
                }
            }
            &:last-child{
                border-bottom: 0px;
            }
        }
    }
}

/*fan_fact_area_r css
=====================================================================*/

.fan_fact_area_r{
    background: #191919;
    padding: 100px 0px;
    position: relative;
    z-index: 1;
    &:before{
        content: "";
        width: 100%;
        position: absolute;
        background: url("../img/agency/text-bg.png") no-repeat scroll center center;
        height: 100%;
        top: 0;
        z-index: -1;
    }
}
.fan_fact{
    background: #00abc9;
    border-radius: 13px;
    margin: 0px;
    .fan_fact_border{
        padding: 0px;
        & + .fan_fact_border{
            border-left: 1px solid #03b7d6;
        }
    }
    .fan_fact_item{
        padding-top: 56px;
        padding-bottom: 58px;
        max-width: 202px;
        margin: 0 auto;
        h2{
            padding-left: 50px;
            font: 700 50px/50px $mon;
            color: #fde428;
        }
        .media{
            color: #fff;
            margin-top: 0px;
            .media-left{
                font-size: 25px;
                padding-right: 20px;
                vertical-align: middle;
            }
            h2{
                font: 700 15px $mon;
                letter-spacing: -0.45px;
                padding-bottom: 4px;
                text-align: left;
                padding-left: 0px;
                color: #fff;
            }
            p{
                font: 400 14px $lato;
                font-style: italic;
            }
        }
    }
}

/*fun_fact_area_two css
================================================================*/
.fun_fact_area_two{
    background: #1c1c1c;
    padding: 37px 0px;
    .fun_fact_item{
        width: calc(100% / 5);
        float: left;
        text-align: center;
        border-right: 1px solid #424242;
        h1{
            font: 700 40px/45px $mon;
            color: #f42267;
        }
        h2{
            font: 600 17px/20px $mon;
            color: #fff;
            letter-spacing: 0.20px;
            padding: 5px 0px;
        }
        p{
            font: 400 15px/20px $crim;
            color: #c1c1c1;
            font-style: italic;
        }
    }
}

/*regular_service_area 
================================================================*/
.regular_service_area{
    background: url("../img/company-web/video.jpg") no-repeat scroll center 0;
    background-size: cover;
    position: relative;
    padding: 100px 0px;
    z-index: 1;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: -moz-linear-gradient( 180deg, rgb(255,67,75) 0%, rgb(255,167,35) 100%);
        background-image: -webkit-linear-gradient( 180deg, rgb(255,67,75) 0%, rgb(255,167,35) 100%);
        background-image: -ms-linear-gradient( 180deg, rgb(255,67,75) 0%, rgb(255,167,35) 100%);
        opacity: 0.861;
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.29);
        z-index: -1;
    }
    .main_title_two{
        margin-bottom: 40px;
        padding-top: 0px;
    }
    .owl-prev,.owl-next{
        font-size: 50px;
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-prev{
        left: -75px;   
    }
    .owl-next{
        right: -75px;
    }
}

.r_service_slider{
    max-width: 767px;
    margin: 0 auto;
    .item{
        .video{
            position: relative;
            img{
                border-radius: 8px;
            }
            a{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                background: #3498db;
                color: #fff;
                text-align: center;
                line-height: 64px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        p{
            font-size: 15px;
            line-height: 25px;
            color: #fff;
            text-align: center;
            max-width: 570px;
            margin: 0 auto;
            padding-top: 25px;
        }
    }
}
/*cons_testimonial_area 
=================================================================*/
.cons_testimonial_area{
    padding: 90px 0px;
}
.c_testimonial_slider{
    text-align: center;
    position: relative;
    padding: 0px 130px;
    .item{
        .img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
            img{
                width: auto;
                max-width: 100%;
            }
        }
        h2{
            font-family: $mon;
            font-weight: 700;
            font-size: 20px;
            color: #222222;
            span{
                font-size: 15px;
                font-weight: 600;
                color: #2896df;
                letter-spacing: 0.50px;
            }
            margin: 15px 0px 30px;
        }
        p{
            font: 400 22px/36px $crim;
            color: #aaaaaa;
            letter-spacing: 0.22px;
        }
    }
    .owl-prev,.owl-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: #fdfcfc;
        border: 1px solid #f8f6f6;
        color: #222222;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        transform: rotate(45deg);
        border-radius: 2px;
        transition: all 0.4s linear;
        cursor: pointer;
        i{
            transform: rotate(-45deg);
        }
        &:hover{
            background: #2896df;
            border-color: #2896df;
            color: #fff;
        }
    }
    .owl-prev{
        left: 5px;
    }
    .owl-next{
        right: 5px;
    }
    .owl-dots{
        text-align: center;
        margin-top: 40px;
        .owl-dot{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #e7e7e7;
            display: inline-block;
            margin: 0px 14px;
            transition: all 0.5s linear;
            &.active{
                background: #2896df;
            }
        }
    }
}

//.fan_fact_area_r{
//    background: #191919;
//    padding: 100px 0px;
//    position: relative;
//    z-index: 1;
//    &:before{
//        content: "";
//        width: 100%;
//        position: absolute;
//        background: url("../img/agency/text-bg.png") no-repeat scroll center center;
//        height: 100%;
//        top: 0;
//        z-index: -1;
//    }
//    &.fan_fact_tp{
//        background: #fff;
//        padding-bottom: 0px;
//        &:before{
//            display: none;
//        }
//    }
//}
//.fan_fact{
//    background: #00abc9;
//    border-radius: 13px;
//    .fan_fact_border{
//        & + .fan_fact_border{
//            border-left: 1px solid #03b7d6;
//        }
//    }
//    .fan_fact_item{
//        padding-top: 56px;
//        padding-bottom: 58px;
//        h2{
//            display: block;
//            text-align: center;
//            font: 700 50px/50px $mon;
//            color: #fde428;
//        }
//        .media{
//            color: #fff;
//            padding-left: 40px;
//            margin-top: 0px;
//            .media-left{
//                font-size: 25px;
//                padding-right: 20px;
//                vertical-align: middle;
//            }
//            h3{
//                font: 700 15px $mon;
//                letter-spacing: -0.45px;
//                padding-bottom: 4px;
//            }
//            p{
//                font: 400 14px $lato;
//                font-style: italic;
//            }
//        }
//    }
//}

/*cor_agency_fun_fact css 
======================================================*/
.cor_agency_fun_fact{
    background: transparent;
    .fan_fact{
        background: #302f2f;
        border-radius: 6px;
        .fan_fact_border{
            & + .fan_fact_border{
                border-color: #474747;
            }
        } 
        .fan_fact_item{
            .media{ 
                i{
                    color: #6b6b6b;
                }
                h2{
                    color: #fff;
                }
                p{
                    color: #6c6c6c;
                }
            }
        }
    }
}

/*startup-testimonial css
======================================*/
.display-flex{
    display: flex;
    flex-wrap: wrap;
    .flex{
        flex: 0 0 auto;
        float: inherit;
        align-self: center;
    }
}
.startup-testimonial{
    position: relative;
    overflow: visible;
    padding-bottom: 115px;
    &:before{
        content: "";
        background: url(../img/startup/creatimg.png) no-repeat scroll center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .testimonial-video{
        text-align: center;
        h4{
            font: 900 17px $lato;
            color: #000;
            text-transform: uppercase;
            margin-top: 25px;
        }
    }
}
.y-round{
    width: 70px;
    height: 70px;
    background: #3b55e6;
    border-radius: 50%;
    font-size: 27px;
    color: #fff;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    &:hover{
        color: #fff;
    }
}

/*startup-promo-area css 
=======================================*/
.startup-promo-area{
    padding: 80px 200px 0px;
    .project_fillter li:hover a,.project_fillter li.active a{
        background: #3b55e6;
        color: #fff;
    }
}



.com_footer_area .main_video_area .color_violate h6, .com_footer_area .main_video_area .color_violate a,.com_footer_area .main_video_area .color_violate h2 span{
    color: #3b55e6;
}


/* End About Testimonials Area css
============================================================================================ */
.about_testimonials_area{
    background: url(../img/about-client-bg.png) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    padding: 130px 0px 70px 0px;
    z-index: 3;
    &:before{
        content: "";
        background: rgba(0, 0, 0, .78);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .clients_img_inner{
        overflow: hidden;
        margin-bottom: -60px;
        .clients_img_item{
            width: calc(100% / 3);
            float: left;
            overflow: hidden;
            line-height: 90px;
            text-align: center;
            margin-bottom: 60px;
            img{
                max-width: 100%;
            }
        }
    }
}
.ab_testi_inner{
    .ab_testi_slider{
        .ab_item_inner{
            .media{
                background: url(../img/ab-testimonials-bg.png) no-repeat scroll center center;
                background-size: cover;
                min-height: 230px;
                padding: 30px 60px 0px 30px;
                .media-left{
                    padding-right: 20px;
                    .ab-img{
                        width: 149px;
                        height: 149px;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: auto;
                            max-width: 100%;
                        }
                    } 
                }
                .media-body{
                    p{
                        font-family: $lato;
                        font-style: italic;
                        font-size: 17.98px;
                        color: #fff;
                        line-height: 30px;
                    }
                }
            }
            .ab_user_name{
                padding-left: 90px;
                padding-top: 5px;
                h4{
                    color: #fff;
                    font-family: $lato;
                    font-weight: bold;
                    font-size: 17.97px;
                }
                h5{
                    color: #fff;
                    font-family: $lato;
                    font-size: 13.98px;
                    padding-top: 7px;
                }
            }    
        }
        .owl-dots{
            position: absolute;
            right: 0px;
            bottom: 10px;
            .owl-dot{
                height: 10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid #fff;
                display: inline-block;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0px;
                }
                &.active{
                    background: #fff;
                }
            }
        }
    }
}

/* End About Testimonials Area css
============================================================================================ */

/* Start lp-testimonial-area css
==================================================================*/

.lp-testimonial-area{
    padding: 85px 0px 120px;
    .lp-testimonial-item{
        text-align: center;
        margin-top: 35px;
        .content{
            position: relative;
            padding: 45px 25px 30px;
            margin-top: 15px;
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: url("../img/testimonial/border.png") no-repeat scroll center 0;
                z-index: -1;
                position: absolute;
                background-size: 100% 100%;
            }
            p{
                font: 400 14px/27px $lato;
                letter-spacing: 0.80px;
                color: #595959;
            }
            h3{
                font: 700 14px/24px $mon;
                color: #303030;
                text-transform: uppercase;
                @include transition;
                &:before{
                    content: "";
                    width: 30px;
                    height: 3px;
                    background: #e8e8e8;
                    display: block;
                    margin: 12px auto;
                }
            }
            h5{
                font: 400 12px/24px $open;
                letter-spacing: 0.60px;
                color: #515151;
            }
        }
        &:hover{
            .content{
                h3{
                    color: $baseColor;
                }
            }
        }
    }
}

/* End lp-testimonial-area css
==================================================================*/


/*charity-testimonial-area css
===============================================================*/
.charity-testimonial-area{
    background: #f4f4f4;
    padding: 75px 0px 46px;
    .owl-prev,.owl-next{
        width: 27px;
        height: 27px;
        border-radius: 3px;
        background: #333333;
        color: #fff;
        font-size: 15px;
        line-height: 27px;
        text-align: center;
        display: inline-block;
        margin-right: 5px;
        transition: all 250ms linear;
        cursor: pointer;
        &:hover{
            background: #ec1c33;
        }
    }
}
.valunteers-profile{
    .valunteers-slider{
        .item{
            text-align: center;
            position: relative;
            z-index: 1;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
            &:before{
                content: "";
                background: #000;
                opacity: 0.63;
                position: absolute;
                left: auto;
                right: 0px;
                top: 0px;
                width: 0%;
                height: 100%;
                z-index: 0;
                -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
                transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1)
            }
            img{
                border-radius: 5px;
            }
            .hover-content{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                ul{
                    li{
                        display: inline-block;
                        a{
                            font-size: 14px;
                            line-height: 24px;
                            color: #929292;
                            padding: 0px 15px;
                            bottom: -20px;
                            position: relative;
                            opacity: 0;
                            -webkit-transition: all 250ms linear;
                            -o-transition: all 250ms linear;
                            transition: all 250ms linear;
                            &:hover{
                                color: #ec1c33;
                            }
                        }
                        &:nth-child(2){
                            a{
                                transition: all 350ms linear;
                            }
                        }
                        &:nth-child(3){
                            a{
                                transition: all 450ms linear
                            }
                        }
                        &:nth-child(4){
                            a{
                                transition: all 550ms linear;
                            }
                        }
                    }
                }
                h3{
                    font: 600 18px $mon;
                    color: #ec1c33;
                    margin-top: 20px;
                    transform: scaleY(0);
                    transform-origin: 50%;
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                }
            }
            &:hover{
                &:before{
                    width: 100%;
                    right: auto;
                    left: 0px;
                }
                .hover-content{
                    ul{
                        li{
                            a{
                                opacity: 1;
                                bottom: 0;
                            }
                        }
                    }
                    h3{
                        transform: scaleY(1);
                    }
                }
            }
        }
        .owl-nav{
            margin-top: 20px;
        }
    }
}
.ch-testimonial{
    position: relative;
    .item{
        padding-bottom: 15px;
        .testimonial-item{
            border: 1px solid #f0f0f0;
            border-radius: 10px;
            background-color: #fcfcfc;
            padding: 55px 40px 0px 55px;
            position: relative;
            &:before{
                content: "\f10d";
                color: rgba(236, 199, 49, 0.23);
                font: normal normal normal 66px/1 FontAwesome;
                position: absolute;
                left: 30px;
                top: 40px;
            }
            p{
                font: 400 14px/24px #7b7b7b;
                letter-spacing: 0.42px;
                padding-left: 20px;
            }
            .media{
                margin-bottom: -15px;
                overflow: visible;
                position: relative;
                padding-top: 30px;
                .media-left{
                    padding-right: 18px;
                    img{
                        width: auto;
                    }
                }
                .media-body{
                    font-family: $mon;
                    vertical-align: middle;
                    h4{
                        font-size: 18px;
                        line-height: 22px;
                        color: #333333;
                    }
                    p{
                        font-size: 14px;
                        line-height: 22px;
                        color: #ecc731;
                    }
                }
            }
        }
    }
    .owl-prev,.owl-next{
        position: absolute;
        top: 10px;
        right: 0px;
        margin: 0px;
        border-radius: 0px;
        z-index: 1;
    }
    .owl-prev{
        right: 32px;
    }
}
.charity-title-two{
    margin-bottom: 40px;
    h2{
        font: 600 22px/50px $mon;
        color: #333333;
        border-bottom: 1px solid #ededed;
        position: relative;
        &:before{
            content: "";
            width: 50px;
            height: 1px;
            background: #ecc731;
            position: absolute;
            bottom: -0.50px;
            left: 0;
        }
    }
}

.charity_about_testimonial{
    padding-bottom: 100px;
}


