/* Video Area css
============================================================================================ */
.video_area{
    background: url(../img/video-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    min-height: 336px;
    position: relative;
    z-index: 2;
    display: flex;
    &:before{
        content: "";
        background: rgba(0, 0, 0, .84);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .video_inner{
        max-width: 920px;
        margin: auto;
        text-align: center;
        flex: 1;
        align-self: center;
        vertical-align: middle;
        a{
            font-size: 52px;
            color: #2896df;
        }
        h4{
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            font-family: $mon;
            padding: 20px 0px 14px 0px;
        }
        p{
            font-size: 20px;
            color: #2896df;
            font-family: $mon;
            font-weight: bold;
            letter-spacing: 6px;
        }
    }
}
/* End Video Area css
============================================================================================ */

/* End Video Area css
============================================================================================ */
.main_video_area{
    background: url(../img/main-video-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 154px 0px 110px 0px;
    &:before{
        content: "";
        background: rgba(0, 0, 0, .72);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
    .main_video_inner{
        h4{
            font-size: 48px;
            color: #fff;
            font-family: $mon;
            font-weight: bold;
        }
        h6{
            font-size: 17px;
            color: #6f6f6f;
            font-family: $lato;
            font-weight: normal;
            font-style: italic;
            padding: 18px 0px 28px 0px;
        }
        a{
            font-size: 35px;
            color: $baseColor;
        }
    }
}
/* End Video Area css
============================================================================================ */

/* Service Video Area css
============================================================================================ */
.service_video_area{
    background: url(../img/service-video-bg.png) no-repeat scroll center center;
    background-size: cover;
    padding: 100px 0px;
    overflow: hidden;
    .s_left_side_text{
        width: calc(50% - 96px);
        float: left;
        .s_count_inner{
            min-width: 400px;
            margin-left: 140px;
            background: #101314;
            overflow: hidden;
            position: relative;
            &:before{
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 0px;
                background: #2d2d2d;
            }
            &:after{
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
                background: #2d2d2d;
            }
            .s_count_item{
                width: calc(100% / 2);
                float: left;
                overflow: hidden;
                padding: 49px 35px;
                .media{
                    .media-left{
                        vertical-align: bottom;
                        font-size: 25px;
                        color: #6b6b6b;
                        padding-right: 18px;
                    }
                    .media-body{
                        h4{
                            font-size: 50px;
                            color: #3498db;
                            font-family: $mon;
                            font-weight: bold;
                        }
                        h5{
                            font-size: 15px;
                            font-family: $mon;
                            font-weight: bold;
                            color: #fff;
                            padding: 8px 0px 8px 0px;
                        }
                        h6{
                            font-size: 14px;
                            color: #6c6c6c;
                            font-family: $lato;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
    .s_right_right_text{
        width: calc(50% + 96px);
        float: right;
        .s_video_inner{
            padding-left: 70px;
            padding-right: 164px;
            h4{
                font-size: 34px;
                font-family: $play;
                font-style: italic;
                color: #fff;
                padding-bottom: 20px;
                text-align: center;
                span{
                    font-family: $mon;
                    font-weight: bold;
                    font-style: normal;
                }
            }
            .service_video{
                overflow: hidden;
                position: relative;
                img{
                    width: 100%;
                    max-width: 100%;
                    @media (min-width:1500px){
                        width: 100%;
                    }
                }
                a{
                    height: 64px;
                    width: 64px;
                    background: #3a53de;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 64px;
                    color: #fff;
                    position: absolute;
                    left: 50%;
                    font-size: 16px;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            p{
                font-size: 15px;
                color: #fff;
                font-family: $lato;
                text-align: center;
                padding-top: 25px;
                line-height: 25px;
                letter-spacing: .45px;
            }
        }
    }
}
/* End Service Video Area css
============================================================================================ */

/*creative_video css
==============================================*/
.creative_video{
    padding: 136px 0px 110px 0px;
    background-attachment: fixed;
    .main_video_inner{
        a{
            font-size: 55px;
            color: #00abc9;
            margin-bottom: 30px;
            display: inline-block;
        }
        h4{
            font-size: 40px;
            letter-spacing: 0px;
        }
        h5{
            font-size: 30px;
            letter-spacing: 12px;
            color: #fff;
            span{
                color: #00abc9;
            }
        }
    }
}

/* Gym Video Area css
============================================================================================ */
.gym_video_area{
    padding: 115px 115px 100px 115px;
    overflow: hidden;
    background: url(../img/gym-video-bg2.jpg) no-repeat fixed center center;
    background-size: cover;
    position: relative;
    z-index: 3;
    &:before{
        content: "";
        background: rgba(0, 0, 0, .71);
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .gym_video_inner{
        .gym_video_left{
            padding-top: 52px;
            h4{
                color: #fff;
                font-family: $mon;
                font-weight: bold;
                font-size: 38px;
                line-height: 40px;
            }
            p{
                color: #fff;
                font-family: $mon;
                font-size: 16px;
                line-height: 27px;
                padding: 35px 0px;
            }
            .more_d_btn{
                line-height: 50px;
                padding: 0px 25px;
            }
        }
    }
    .gym_video_right{
        position: relative;
        img{
            width: 100%;
        }
        i{
            position: absolute;
            left: 50%;
            text-align: center;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: #fff;
            background: #db3333;
            line-height: 56px;
            height: 56px;
            width: 56px;
            text-align: center;
            border-radius: 50%;
        }
    }
}

.gym_main_video_area{
    background: url(../img/gym-video-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 90px 0px 80px 0px;
    &:before{
        content: "";
        background: rgba(0, 0, 0, .90);
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .gym_play_btn{
        display: block;
        font-size: 48px;
        color: #da3038;
    }
    img{
        padding: 17px 0px 10px 0px;
    }
    h6{
        color: #fff;
        font-size: 12px;
        font-family: $mon;
        letter-spacing: 1.2px;
    }
    p{
        font-size: 14px;
        font-family: $lato;
        line-height: 24px;
        color: #acacac;
        letter-spacing: .7px;
        max-width: 514px;
        margin: auto;
        padding: 22px 0px 32px 0px;
    }
    ul{
        li{
            display: inline-block;
            margin-right: 35px;
            a{
                font-size: 14px;
                font-family: $lato;
                color: #fff;
                position: relative;
                @include transition;
                &:before{
                    content: "x";
                    color: #fff;
                    font-size: 14px;
                    font-family: $lato;
                    position: absolute;
                    right: -22px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:after{
                    content: "";
                    background: #da3038;
                    width: 70%;
                    height: 1px;
                    position: absolute;
                    left: 50%;
                    bottom: -5px;
                    transform: translateX(-50%);
                    opacity: 0;
                    @include transition;
                }
            }
            &:last-child{
                margin-right: 0px;
                a{
                    &:before{
                        display: none;
                    }
                }
            }
            &:hover{
                a{
                    color: #da3038;
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* End Gym Video Area css
============================================================================================ */

/*freelancer_video css
=========================================================*/
.freelancer_video{
    background: url("../img/freelancer/video-bg.jpg") no-repeat scroll center 0/cover;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    text-align: center;
    padding: 105px 0px 140px;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #1a1919;
        opacity: 0.60;
        z-index: -1;
    }
    a{
        i{
            color: #f42267;
            font-size: 50px;
        }
    }
    h4{
        font: 700 33px/40px $mon;
        color: #fff;
        margin-top: 28px;
        span{
            font-weight: 300;
            font-size: 22px;
        }
    }
}

/* End Gym Video Area css
============================================================================================ */
.youtube_professional_area{
    background: url(../img/mobile-half-bg.jpg) no-repeat fixed center center;
    background-size: cover;
    padding-top: 100px;
    .youtube_pro_inner{
        text-align: center;
        h6{
            font-size: 12px;
            font-family: $mon;
            font-weight: bold;
            letter-spacing: .72px;
            color: rgba(255, 255, 255, .4);
            padding: 20px 0px 18px 0px;
        }
        h4{
            color: #fff;
            font-size: 37px;
            font-family: $mon;
            font-weight: bold;
            padding-bottom: 55px;
        }
        .mobile-img{
            max-width: 100%;
        }
    }    
}
/* End Gym Video Area css
============================================================================================ */